【AI智能客服与售后助手】固定回复.yml
app:
  description: ''
  icon: c53eaadf-3730-4335-a589-8f37b62ab870
  icon_background: '#FFEAD5'
  mode: workflow
  name: 【AI智能客服与售后助手】固定回复
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1754877444186-source-1755932126161-target
      source: '1754877444186'
      sourceHandle: source
      target: '1755932126161'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1755932126161-true-1755932466815-target
      source: '1755932126161'
      sourceHandle: 'true'
      target: '1755932466815'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1755932126161-1f57cce3-aac6-433a-af0e-a91c153b3cb5-1755932514773-target
      source: '1755932126161'
      sourceHandle: 1f57cce3-aac6-433a-af0e-a91c153b3cb5
      target: '1755932514773'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: variable-aggregator
      id: 1755932466815-source-1755932585016-target
      source: '1755932466815'
      sourceHandle: source
      target: '1755932585016'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: variable-aggregator
      id: 1755932514773-source-1755932585016-target
      source: '1755932514773'
      sourceHandle: source
      target: '1755932585016'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: end
      id: 1755932585016-source-1755932635101-target
      selected: false
      source: '1755932585016'
      sourceHandle: source
      target: '1755932635101'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: ics_answer_type
          max_length: 48
          options:
          - 转人工
          - 固定回复
          required: true
          type: select
          variable: ics_answer_type
      height: 112
      id: '1754877444186'
      position:
        x: 68.12292721507794
        y: 382.58521077080053
      positionAbsolute:
        x: 68.12292721507794
        y: 382.58521077080053
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 343e97aa-347a-4a9d-909e-68a2ca90a747
            value: 转人工
            varType: string
            variable_selector:
            - '1754877444186'
            - ics_answer_type
          id: 'true'
          logical_operator: and
        - case_id: 1f57cce3-aac6-433a-af0e-a91c153b3cb5
          conditions:
          - comparison_operator: contains
            id: 052f9647-6b12-4132-9f3f-58496263850b
            value: 固定回复
            varType: string
            variable_selector:
            - '1754877444186'
            - ics_answer_type
          id: 1f57cce3-aac6-433a-af0e-a91c153b3cb5
          logical_operator: and
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 172
      id: '1755932126161'
      position:
        x: 379.48728851124304
        y: 382.58521077080053
      positionAbsolute:
        x: 379.48728851124304
        y: 382.58521077080053
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction main() {\n    return {\n        result: `</think>禾望人工客服信息如下您可以通过拨打电话、发送邮件、添加企业微信等方式联系我们\
          \ \\n\\n **电话：** 400 018 5881 \\n\\n **邮箱：** hopewind@hopewind.com \\n\\\
          n **企业微信：** \\n\\n ![](https://oss.hopewindcloud.com/app/userImg/WeComQRCode.png)`\n\
          \    }\n}\n"
        code_language: javascript
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 转人工回复
        type: code
        variables: []
      height: 52
      id: '1755932466815'
      position:
        x: 697.6532984764991
        y: 382.58521077080053
      positionAbsolute:
        x: 697.6532984764991
        y: 382.58521077080053
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction main() {\n    return {\n        result: '</think>建议准确表述需求，如设备查询、系统使用问题，勿发无意义内容哦！'\n\
          \    }\n}\n"
        code_language: javascript
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: true
        title: 固定回复
        type: code
        variables: []
      height: 52
      id: '1755932514773'
      position:
        x: 697.6532984764991
        y: 461.07170653763103
      positionAbsolute:
        x: 697.6532984764991
        y: 461.07170653763103
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        advanced_settings:
          group_enabled: false
          groups:
          - groupId: 7f3e1623-d7bd-439d-a245-149fad68d4d8
            group_name: Group1
            output_type: string
            variables:
            - - '1755932514773'
              - result
            - - '1755932466815'
              - result
        desc: ''
        output_type: string
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1755932514773'
          - result
        - - '1755932466815'
          - result
      height: 135
      id: '1755932585016'
      position:
        x: 1021.109479628826
        y: 382.58521077080053
      positionAbsolute:
        x: 1021.109479628826
        y: 382.58521077080053
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1755932585016'
          - output
          value_type: string
          variable: output
        selected: false
        title: 结束
        type: end
      height: 88
      id: '1755932635101'
      position:
        x: 1338.720161844401
        y: 382.58521077080053
      positionAbsolute:
        x: 1338.720161844401
        y: 382.58521077080053
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 51.46521760792041
      y: -81.22810612798821
      zoom: 1.0028045965226775
  rag_pipeline_variables: []
