查询测试.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 查询测试
  use_icon_as_answer_icon: false
dependencies:
- current_identifier:
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: yangyaofei/vllm:0.1.5@3eecf807d9767f40eb757ff70720291aa6055e9e1803893b4c93b61a5d4d4319
    version:
- current_identifier:
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai_api_compatible:0.0.16@d41b09aca46cdd3876f70b4c91d464c4588fc0bdc844ced6ee426283ead6ce8e
    version:
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1765885847821-source-llm-target
      selected: false
      source: '1765885847821'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm-source-1766046797761-target
      selected: false
      source: llm
      sourceHandle: source
      target: '1766046797761'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1766060591761-source-answer-target
      selected: false
      source: '1766060591761'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17661121664810-true-1766111137253-target
      selected: false
      source: '17661121664810'
      sourceHandle: 'true'
      target: '1766111137253'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17661121664810-53b9c5eb-341c-4327-ab6c-27a853708ab1-17661111542640-target
      selected: false
      source: '17661121664810'
      sourceHandle: 53b9c5eb-341c-4327-ab6c-27a853708ab1
      target: '17661111542640'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17661121664810-8f584f08-c660-446b-9251-54cb394fc97b-17661111557560-target
      selected: false
      source: '17661121664810'
      sourceHandle: 8f584f08-c660-446b-9251-54cb394fc97b
      target: '17661111557560'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17661121664810-6c827d63-db16-4430-84f7-6147a151af5d-17661111554310-target
      selected: false
      source: '17661121664810'
      sourceHandle: 6c827d63-db16-4430-84f7-6147a151af5d
      target: '17661111554310'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1766114600959-source-17661146701100-target
      selected: false
      source: '1766114600959'
      sourceHandle: source
      target: '17661146701100'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17661121664810-7d50f4d4-dc4a-40f6-803d-73b8a14c17b4-1766111137253-target
      selected: false
      source: '17661121664810'
      sourceHandle: 7d50f4d4-dc4a-40f6-803d-73b8a14c17b4
      target: '1766111137253'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17661121664810-ac4fad4c-6aed-44e4-b186-f2a9ad16851d-17661111554310-target
      selected: false
      source: '17661121664810'
      sourceHandle: ac4fad4c-6aed-44e4-b186-f2a9ad16851d
      target: '17661111554310'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17661121664810-73700a06-95a3-4197-bc00-90142042b857-17661111554310-target
      selected: false
      source: '17661121664810'
      sourceHandle: 73700a06-95a3-4197-bc00-90142042b857
      target: '17661111554310'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17661121664810-961c1951-c8ce-4195-b4b4-0926a125416a-17661111554310-target
      selected: false
      source: '17661121664810'
      sourceHandle: 961c1951-c8ce-4195-b4b4-0926a125416a
      target: '17661111554310'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17661121664810-d5753383-341e-4549-a4ee-6abb52f274e6-17661111554310-target
      selected: false
      source: '17661121664810'
      sourceHandle: d5753383-341e-4549-a4ee-6abb52f274e6
      target: '17661111554310'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1766111137253-source-1766124693724-target
      selected: false
      source: '1766111137253'
      sourceHandle: source
      target: '1766124693724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17661111557560-source-1766124693724-target
      selected: false
      source: '17661111557560'
      sourceHandle: source
      target: '1766124693724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17661111542640-source-1766124693724-target
      selected: false
      source: '17661111542640'
      sourceHandle: source
      target: '1766124693724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17661111554310-source-1766124693724-target
      selected: false
      source: '17661111554310'
      sourceHandle: source
      target: '1766124693724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1766056191029-false-17661324932410-target
      selected: false
      source: '1766056191029'
      sourceHandle: 'false'
      target: '17661324932410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 17661324932410-source-17661325478120-target
      selected: false
      source: '17661324932410'
      sourceHandle: source
      target: '17661325478120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17663007785200-true-17663008066090-target
      selected: false
      source: '17663007785200'
      sourceHandle: 'true'
      target: '17663008066090'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17663007785200-7d50f4d4-dc4a-40f6-803d-73b8a14c17b4-17663008066090-target
      selected: false
      source: '17663007785200'
      sourceHandle: 7d50f4d4-dc4a-40f6-803d-73b8a14c17b4
      target: '17663008066090'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17663007785200-8f584f08-c660-446b-9251-54cb394fc97b-17663008113020-target
      selected: false
      source: '17663007785200'
      sourceHandle: 8f584f08-c660-446b-9251-54cb394fc97b
      target: '17663008113020'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17663007785200-53b9c5eb-341c-4327-ab6c-27a853708ab1-17663008166570-target
      selected: false
      source: '17663007785200'
      sourceHandle: 53b9c5eb-341c-4327-ab6c-27a853708ab1
      target: '17663008166570'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17663007785200-6c827d63-db16-4430-84f7-6147a151af5d-17663008214150-target
      selected: false
      source: '17663007785200'
      sourceHandle: 6c827d63-db16-4430-84f7-6147a151af5d
      target: '17663008214150'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17663007785200-ac4fad4c-6aed-44e4-b186-f2a9ad16851d-17663008214150-target
      selected: false
      source: '17663007785200'
      sourceHandle: ac4fad4c-6aed-44e4-b186-f2a9ad16851d
      target: '17663008214150'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17663007785200-73700a06-95a3-4197-bc00-90142042b857-17663008214150-target
      selected: false
      source: '17663007785200'
      sourceHandle: 73700a06-95a3-4197-bc00-90142042b857
      target: '17663008214150'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17663007785200-961c1951-c8ce-4195-b4b4-0926a125416a-17663008214150-target
      selected: false
      source: '17663007785200'
      sourceHandle: 961c1951-c8ce-4195-b4b4-0926a125416a
      target: '17663008214150'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17663007785200-d5753383-341e-4549-a4ee-6abb52f274e6-17663008214150-target
      selected: false
      source: '17663007785200'
      sourceHandle: d5753383-341e-4549-a4ee-6abb52f274e6
      target: '17663008214150'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17663008066090-source-17663078003070-target
      selected: false
      source: '17663008066090'
      sourceHandle: source
      target: '17663078003070'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17663008113020-source-17663078003070-target
      selected: false
      source: '17663008113020'
      sourceHandle: source
      target: '17663078003070'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17663008166570-source-17663078003070-target
      selected: false
      source: '17663008166570'
      sourceHandle: source
      target: '17663078003070'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17663008214150-source-17663078003070-target
      selected: false
      source: '17663008214150'
      sourceHandle: source
      target: '17663078003070'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: code
      id: 1766124693724-source-1766307714396-target
      selected: false
      source: '1766124693724'
      sourceHandle: source
      target: '1766307714396'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: code
      id: 17663078003070-source-1766307714396-target
      selected: false
      source: '17663078003070'
      sourceHandle: source
      target: '1766307714396'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1766307714396-source-1766114600959-target
      selected: false
      source: '1766307714396'
      sourceHandle: source
      target: '1766114600959'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1766056191029-668a3382-9ae8-4127-b3b1-1fa0353efa7b-1766373796662-target
      selected: false
      source: '1766056191029'
      sourceHandle: 668a3382-9ae8-4127-b3b1-1fa0353efa7b
      target: '1766373796662'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1766373796662-source-1766381309970-target
      selected: false
      source: '1766373796662'
      sourceHandle: source
      target: '1766381309970'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1766381309970-source-1766372892978-target
      selected: false
      source: '1766381309970'
      sourceHandle: source
      target: '1766372892978'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1766372892978-source-1766395827513-target
      selected: false
      source: '1766372892978'
      sourceHandle: source
      target: '1766395827513'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1766395827513-source-1766398670077-target
      selected: false
      source: '1766395827513'
      sourceHandle: source
      target: '1766398670077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: llm
      id: 1766372892978-fail-branch-1766472358174-target
      selected: false
      source: '1766372892978'
      sourceHandle: fail-branch
      target: '1766472358174'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1766472358174-source-1766472328840-target
      selected: false
      source: '1766472358174'
      sourceHandle: source
      target: '1766472328840'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1766046797761-fail-branch-1766477938283-target
      selected: false
      source: '1766046797761'
      sourceHandle: fail-branch
      target: '1766477938283'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1766046797761-source-1766543031078-target
      selected: false
      source: '1766046797761'
      sourceHandle: source
      target: '1766543031078'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1766543031078-true-1766060591761-target
      selected: false
      source: '1766543031078'
      sourceHandle: 'true'
      target: '1766060591761'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1766543031078-00b05098-7b24-4bfa-839c-a57211a05291-1766552843017-target
      selected: false
      source: '1766543031078'
      sourceHandle: 00b05098-7b24-4bfa-839c-a57211a05291
      target: '1766552843017'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1766552843017-source-1766552944978-target
      selected: false
      source: '1766552843017'
      sourceHandle: source
      target: '1766552944978'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: iteration-start
        targetType: code
      id: 1766561987023start-source-1766562647925-target
      selected: false
      source: 1766561987023start
      sourceHandle: source
      target: '1766562647925'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: code
        targetType: if-else
      id: 1766562647925-source-1766573655896-target
      selected: false
      source: '1766562647925'
      sourceHandle: source
      target: '1766573655896'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: llm
      id: 1766573655896-aa9d1bd7-bd6b-477d-a5b5-c5d892a58ba2-1766574039316-target
      selected: false
      source: '1766573655896'
      sourceHandle: aa9d1bd7-bd6b-477d-a5b5-c5d892a58ba2
      target: '1766574039316'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: llm
        targetType: code
      id: 1766574039316-source-1766574153128-target
      selected: false
      source: '1766574039316'
      sourceHandle: source
      target: '1766574153128'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: code
        targetType: http-request
      id: 1766574153128-source-1766574275096-target
      selected: false
      source: '1766574153128'
      sourceHandle: source
      target: '1766574275096'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: llm
      id: 1766573655896-true-1766575235291-target
      selected: false
      source: '1766573655896'
      sourceHandle: 'true'
      target: '1766575235291'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577034519-true-1766577855409-target
      selected: false
      source: '1766577034519'
      sourceHandle: 'true'
      target: '1766577855409'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577034519-5da985ae-a65a-41fe-9885-e4fa0e1133e8-1766577869464-target
      selected: false
      source: '1766577034519'
      sourceHandle: 5da985ae-a65a-41fe-9885-e4fa0e1133e8
      target: '1766577869464'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577034519-f10c9497-06e0-4776-87d3-b3e08234df2a-1766577855409-target
      selected: false
      source: '1766577034519'
      sourceHandle: f10c9497-06e0-4776-87d3-b3e08234df2a
      target: '1766577855409'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577034519-44ab93ff-5777-44e7-b01c-dde257ca17ac-1766577875327-target
      selected: false
      source: '1766577034519'
      sourceHandle: 44ab93ff-5777-44e7-b01c-dde257ca17ac
      target: '1766577875327'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577034519-96e276ed-ca1a-4048-b1ca-8661b04d105c-1766577872406-target
      selected: false
      source: '1766577034519'
      sourceHandle: 96e276ed-ca1a-4048-b1ca-8661b04d105c
      target: '1766577872406'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577034519-c038da99-4bad-4fb2-803b-0c36193810da-1766577875327-target
      selected: false
      source: '1766577034519'
      sourceHandle: c038da99-4bad-4fb2-803b-0c36193810da
      target: '1766577875327'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577034519-d249b240-5caf-4bf9-a0be-7f53e1e263d1-1766577875327-target
      selected: false
      source: '1766577034519'
      sourceHandle: d249b240-5caf-4bf9-a0be-7f53e1e263d1
      target: '1766577875327'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577034519-02425056-54c6-48a6-9964-bd7c22cdf87e-1766577875327-target
      selected: false
      source: '1766577034519'
      sourceHandle: 02425056-54c6-48a6-9964-bd7c22cdf87e
      target: '1766577875327'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577034519-1e2417c7-55e2-498a-83b8-84feecd6a463-1766577875327-target
      selected: false
      source: '1766577034519'
      sourceHandle: 1e2417c7-55e2-498a-83b8-84feecd6a463
      target: '1766577875327'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577038031-true-1766578524013-target
      selected: false
      source: '1766577038031'
      sourceHandle: 'true'
      target: '1766578524013'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577038031-3369b719-7136-46aa-bac3-a1867ee098f3-1766578524013-target
      selected: false
      source: '1766577038031'
      sourceHandle: 3369b719-7136-46aa-bac3-a1867ee098f3
      target: '1766578524013'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577038031-89d448f5-7cb9-45f2-8db8-e680e5407023-1766578619878-target
      selected: false
      source: '1766577038031'
      sourceHandle: 89d448f5-7cb9-45f2-8db8-e680e5407023
      target: '1766578619878'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577038031-c3d098a6-700e-4aa4-872a-f4928ad702de-1766578628823-target
      selected: false
      source: '1766577038031'
      sourceHandle: c3d098a6-700e-4aa4-872a-f4928ad702de
      target: '1766578628823'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577038031-134baa61-5ce7-46c3-a82a-acdf0715a48d-1766578632881-target
      selected: false
      source: '1766577038031'
      sourceHandle: 134baa61-5ce7-46c3-a82a-acdf0715a48d
      target: '1766578632881'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577038031-651f4c79-b15c-4653-8f1a-b0813217c069-1766578632881-target
      selected: false
      source: '1766577038031'
      sourceHandle: 651f4c79-b15c-4653-8f1a-b0813217c069
      target: '1766578632881'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577038031-297f34cb-ea2f-4164-9ab3-0ec29784e0b7-1766578632881-target
      selected: false
      source: '1766577038031'
      sourceHandle: 297f34cb-ea2f-4164-9ab3-0ec29784e0b7
      target: '1766578632881'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577038031-0e21d9ac-2ea4-48e1-9ea6-ae712b1bb194-1766578632881-target
      selected: false
      source: '1766577038031'
      sourceHandle: 0e21d9ac-2ea4-48e1-9ea6-ae712b1bb194
      target: '1766578632881'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577038031-00191547-a955-4095-a66d-cd6b8b81b984-1766578632881-target
      selected: false
      source: '1766577038031'
      sourceHandle: 00191547-a955-4095-a66d-cd6b8b81b984
      target: '1766578632881'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1766577855409-source-1766578830262-target
      selected: false
      source: '1766577855409'
      sourceHandle: source
      target: '1766578830262'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1766577869464-source-1766578830262-target
      selected: false
      source: '1766577869464'
      sourceHandle: source
      target: '1766578830262'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1766577872406-source-1766578830262-target
      selected: false
      source: '1766577872406'
      sourceHandle: source
      target: '1766578830262'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1766577875327-source-1766578830262-target
      selected: false
      source: '1766577875327'
      sourceHandle: source
      target: '1766578830262'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: variable-aggregator
        targetType: code
      id: 1766578830262-source-1766579029694-target
      selected: false
      source: '1766578830262'
      sourceHandle: source
      target: '1766579029694'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: llm
        targetType: code
      id: 1766575235291-source-1766581831340-target
      selected: false
      source: '1766575235291'
      sourceHandle: source
      target: '1766581831340'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: http-request
        targetType: code
      id: 1766574275096-source-1766582350681-target
      selected: false
      source: '1766574275096'
      sourceHandle: source
      target: '1766582350681'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: http-request
        targetType: code
      id: 1766574275096-fail-branch-1766583739687-target
      selected: false
      source: '1766574275096'
      sourceHandle: fail-branch
      target: '1766583739687'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1766561987023-source-1766583988064-target
      selected: false
      source: '1766561987023'
      sourceHandle: source
      target: '1766583988064'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: code
        targetType: variable-aggregator
      id: 1766581831340-source-1766632716395-target
      selected: false
      source: '1766581831340'
      sourceHandle: source
      target: '1766632716395'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1766583988064-source-1766643827180-target
      selected: false
      source: '1766583988064'
      sourceHandle: source
      target: '1766643827180'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1766643827180-source-1766643838228-target
      selected: false
      source: '1766643827180'
      sourceHandle: source
      target: '1766643838228'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: code
        targetType: llm
      id: 1766579029694-source-1766661968545-target
      selected: false
      source: '1766579029694'
      sourceHandle: source
      target: '1766661968545'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: llm
        targetType: code
      id: 1766661968545-source-1766663294206-target
      selected: false
      source: '1766661968545'
      sourceHandle: source
      target: '1766663294206'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: code
        targetType: variable-aggregator
      id: 1766663294206-source-1766632716395-target
      selected: false
      source: '1766663294206'
      sourceHandle: source
      target: '1766632716395'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: code
        targetType: variable-aggregator
      id: 1766582350681-source-1766632716395-target
      selected: false
      source: '1766582350681'
      sourceHandle: source
      target: '1766632716395'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: code
        targetType: variable-aggregator
      id: 1766583739687-source-1766632716395-target
      selected: false
      source: '1766583739687'
      sourceHandle: source
      target: '1766632716395'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: code
      id: 1765884761572-source-1768549808142-target
      selected: false
      source: '1765884761572'
      sourceHandle: source
      target: '1768549808142'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1766056191029-4d828844-a8fe-4af3-be30-7cc05d96c499-1772708654860-target
      selected: false
      source: '1766056191029'
      sourceHandle: 4d828844-a8fe-4af3-be30-7cc05d96c499
      target: '1772708654860'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17727142590310-true-17727146279350-target
      selected: false
      source: '17727142590310'
      sourceHandle: 'true'
      target: '17727146279350'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17727142590310-7d50f4d4-dc4a-40f6-803d-73b8a14c17b4-17727146279350-target
      selected: false
      source: '17727142590310'
      sourceHandle: 7d50f4d4-dc4a-40f6-803d-73b8a14c17b4
      target: '17727146279350'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17727142590310-8f584f08-c660-446b-9251-54cb394fc97b-17727146380080-target
      selected: false
      source: '17727142590310'
      sourceHandle: 8f584f08-c660-446b-9251-54cb394fc97b
      target: '17727146380080'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17727142590310-53b9c5eb-341c-4327-ab6c-27a853708ab1-17727146461830-target
      selected: false
      source: '17727142590310'
      sourceHandle: 53b9c5eb-341c-4327-ab6c-27a853708ab1
      target: '17727146461830'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17727142590310-6c827d63-db16-4430-84f7-6147a151af5d-17727146729190-target
      selected: false
      source: '17727142590310'
      sourceHandle: 6c827d63-db16-4430-84f7-6147a151af5d
      target: '17727146729190'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17727142590310-ac4fad4c-6aed-44e4-b186-f2a9ad16851d-17727146729190-target
      selected: false
      source: '17727142590310'
      sourceHandle: ac4fad4c-6aed-44e4-b186-f2a9ad16851d
      target: '17727146729190'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17727142590310-73700a06-95a3-4197-bc00-90142042b857-17727146729190-target
      selected: false
      source: '17727142590310'
      sourceHandle: 73700a06-95a3-4197-bc00-90142042b857
      target: '17727146729190'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17727142590310-961c1951-c8ce-4195-b4b4-0926a125416a-17727146729190-target
      selected: false
      source: '17727142590310'
      sourceHandle: 961c1951-c8ce-4195-b4b4-0926a125416a
      target: '17727146729190'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17727142590310-d5753383-341e-4549-a4ee-6abb52f274e6-17727146729190-target
      selected: false
      source: '17727142590310'
      sourceHandle: d5753383-341e-4549-a4ee-6abb52f274e6
      target: '17727146729190'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17727146279350-source-17727148206320-target
      selected: false
      source: '17727146279350'
      sourceHandle: source
      target: '17727148206320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17727146380080-source-17727148206320-target
      selected: false
      source: '17727146380080'
      sourceHandle: source
      target: '17727148206320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17727146461830-source-17727148206320-target
      selected: false
      source: '17727146461830'
      sourceHandle: source
      target: '17727148206320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17727146729190-source-17727148206320-target
      selected: false
      source: '17727146729190'
      sourceHandle: source
      target: '17727148206320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: variable-aggregator
        targetType: code
      id: 17727148206320-source-1766307714396-target
      selected: false
      source: '17727148206320'
      sourceHandle: source
      target: '1766307714396'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1772708654860-source-17661121664810-target
      selected: false
      source: '1772708654860'
      sourceHandle: source
      target: '17661121664810'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1772708654860-source-17663007785200-target
      selected: false
      source: '1772708654860'
      sourceHandle: source
      target: '17663007785200'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1772708654860-source-17727142590310-target
      selected: false
      source: '1772708654860'
      sourceHandle: source
      target: '17727142590310'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17661121664810-93b36b41-4a87-4032-907c-7ddef1fff3eb-17744369112980-target
      selected: false
      source: '17661121664810'
      sourceHandle: 93b36b41-4a87-4032-907c-7ddef1fff3eb
      target: '17744369112980'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17744369112980-source-1766124693724-target
      selected: false
      source: '17744369112980'
      sourceHandle: source
      target: '1766124693724'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17663007785200-93b36b41-4a87-4032-907c-7ddef1fff3eb-17744371101860-target
      selected: false
      source: '17663007785200'
      sourceHandle: 93b36b41-4a87-4032-907c-7ddef1fff3eb
      target: '17744371101860'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17744371101860-source-17663078003070-target
      selected: false
      source: '17744371101860'
      sourceHandle: source
      target: '17663078003070'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 17727142590310-93b36b41-4a87-4032-907c-7ddef1fff3eb-17744371388840-target
      selected: false
      source: '17727142590310'
      sourceHandle: 93b36b41-4a87-4032-907c-7ddef1fff3eb
      target: '17744371388840'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 17744371388840-source-17727148206320-target
      selected: false
      source: '17744371388840'
      sourceHandle: source
      target: '17727148206320'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: answer
      id: 1768549808142-source-1774441797704-target
      selected: false
      source: '1768549808142'
      sourceHandle: source
      target: '1774441797704'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: code
      id: 1774441797704-source-1765885847821-target
      selected: false
      source: '1774441797704'
      sourceHandle: source
      target: '1765885847821'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577034519-aabf1b1b-a55d-4c02-a95b-9223b0833d4d-1774443569048-target
      selected: false
      source: '1766577034519'
      sourceHandle: aabf1b1b-a55d-4c02-a95b-9223b0833d4d
      target: '1774443569048'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1774443569048-source-1766578830262-target
      selected: false
      source: '1774443569048'
      sourceHandle: source
      target: '1766578830262'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1766577038031-6c90169d-73df-4ab1-a4e0-032676d67d69-1774443676629-target
      selected: false
      source: '1766577038031'
      sourceHandle: 6c90169d-73df-4ab1-a4e0-032676d67d69
      target: '1774443676629'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1766578524013-source-1774444275382-target
      selected: false
      source: '1766578524013'
      sourceHandle: source
      target: '1774444275382'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1766578619878-source-1774444275382-target
      source: '1766578619878'
      sourceHandle: source
      target: '1774444275382'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1766578628823-source-1774444275382-target
      source: '1766578628823'
      sourceHandle: source
      target: '1774444275382'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1766578632881-source-1774444275382-target
      source: '1766578632881'
      sourceHandle: source
      target: '1774444275382'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1774443676629-source-1774444275382-target
      source: '1774443676629'
      sourceHandle: source
      target: '1774444275382'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: variable-aggregator
        targetType: code
      id: 1774444275382-source-1766579029694-target
      source: '1774444275382'
      sourceHandle: source
      target: '1766579029694'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: if-else
      id: 1766573655896-a38a2071-00d5-41df-a00a-4413ce1c23cf-1766577034519-target
      source: '1766573655896'
      sourceHandle: a38a2071-00d5-41df-a00a-4413ce1c23cf
      target: '1766577034519'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        sourceType: if-else
        targetType: if-else
      id: 1766573655896-a38a2071-00d5-41df-a00a-4413ce1c23cf-1766577038031-target
      source: '1766573655896'
      sourceHandle: a38a2071-00d5-41df-a00a-4413ce1c23cf
      target: '1766577038031'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1766543031078-efcc7a9e-8ef5-4f59-89d7-68bc3b120ed7-1766900000001-target
      selected: false
      source: '1766543031078'
      sourceHandle: efcc7a9e-8ef5-4f59-89d7-68bc3b120ed7
      target: '1766900000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1766543031078-5d075d07-2ece-493f-b4e9-d94f32fd31ae-1766900000001-target
      selected: false
      source: '1766543031078'
      sourceHandle: 5d075d07-2ece-493f-b4e9-d94f32fd31ae
      target: '1766900000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1766900000001-source-1766900000002-target
      selected: false
      source: '1766900000001'
      sourceHandle: source
      target: '1766900000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1766900000002-source-1766056191029-target
      selected: false
      source: '1766900000002'
      sourceHandle: source
      target: '1766056191029'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1766900000002-source-1766561987023-target
      selected: false
      source: '1766900000002'
      sourceHandle: source
      target: '1766561987023'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 'selected_knowledge_bases 选择的知识库，单个或多个，空时为选择全部，传入的是文件类型id。

          user_token 用户token

          department_id 部门id

          role_id 角色id

          user_id 用户id

          server_url 服务器地址

          kb_mapping 知识库映射关系'
        selected: false
        title: 用户输入（接口传参）
        type: start
        variables:
        - default: '{}'
          hint: ''
          label: selected_knowledge_bases
          max_length: 1024
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: selected_knowledge_bases
        - default: ''
          hint: ''
          label: user_token
          max_length: 1024
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: user_token
        - default: ''
          hint: ''
          label: department_id
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: department_id
        - default: ''
          hint: ''
          label: role_id
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: role_id
        - default: ''
          hint: ''
          label: user_id
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: user_id
        - default: ''
          hint: ''
          label: server_url
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: server_url
        - default: ''
          hint: ''
          label: kb_mapping
          max_length: 2048
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: kb_mapping
      height: 424
      id: '1765884761572'
      position:
        x: -1219.5966057408716
        y: 931.3307864769668
      positionAbsolute:
        x: -1219.5966057408716
        y: 931.3307864769668
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 10
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.1
          mode: chat
          name: chatgpt-oss-120b
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: 98d6ef04-0a28-49ac-a939-9359b16b14fe
          role: system
          text: '{{#1765885847821.result#}}

            '
        selected: false
        title: 意图识别
        type: llm
        vision:
          enabled: false
      height: 88
      id: llm
      position:
        x: 8.09128743584506
        y: 952.3307864769668
      positionAbsolute:
        x: 8.09128743584506
        y: 952.3307864769668
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1766060591761.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: answer
      position:
        x: 1634.7536950876786
        y: 222.66422879542958
      positionAbsolute:
        x: 1634.7536950876786
        y: 222.66422879542958
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(user_query: str, selected_knowledge_bases: list):\n    \"\"\"\n    工业级稳定版（保留原规则 + 强约束防偷答）\n    \"\"\"\n\n    # 知识库映射（完全保留）\n    KB_ALIAS_TO_FULL = {\n        \"CBB\": \"CBB知识库\", \"cbb\": \"CBB知识库\",\n        \"经验案例\": \"经验案例知识库\", \"案例\": \"经验案例知识库\",\n        \"认证标准\": \"认证标准知识库\", \"标准\": \"认证标准知识库\",\n        \"专利\": \"专利知识库\",\n        \"学术论文\": \"学术论文知识库\", \"论文\": \"学术论文知识库\",\n        \"专业书籍\": \"专业书籍知识库\", \"书籍\": \"专业书籍知识库\",\n        \"技术报告\": \"技术报告知识库\", \"报告\": \"技术报告知识库\",\n        \"培训课程\": \"培训课程知识库\", \"培训\": \"培训课程知识库\",\n        \"流程规范\": \"流程规范知识库\", \"流程\": \"流程规范知识库\",\n        \"部门文档\": \"部门文档知识库\", \"部门\": \"部门文档知识库\",\n    }\n\n    # 知识库处理（完全保留）\n    if not isinstance(selected_knowledge_bases, list):\n        selected_knowledge_bases = []\n\n    kb_set = set()\n    kb_list = []\n    for item in selected_knowledge_bases:\n        if isinstance(item, str):\n            clean_item = item.strip()\n            if clean_item:\n                full_name = KB_ALIAS_TO_FULL.get(clean_item, clean_item)\n                if full_name not in kb_set:\n                    kb_set.add(full_name)\n                    kb_list.append(full_name)\n\n    selected_kbs_clean = \", \".join(kb_list) if kb_list else \"（无可用知识库）\"\n\n    # 🚀 工业级增强提示词（在你原模板基础上增强）\n    prompt_template = \"\"\"## ❗ 角色强约束（新增，必须遵守）\n你是“知识路由模块（Router）”，不是问答系统。\n\n你的唯一职责：\n- 意图识别\n- 知识库匹配\n- 多意图拆解\n- 输出JSON\n\n🚫 严格禁止：\n- 回答用户问题\n- 输出任何业务知识（包括解释、步骤、结论）\n- 复述或扩写用户输入内容\n- 使用“在系统中…”等说明性句式\n\n一旦输出非JSON或包含业务内容，即视为错误。\n\n---\n\n## 🚫 输出限制（新增）\n- 最终输出必须是 **纯JSON**\n- resolved_query & 子意图 query_fragment **必须改写为向量检索友好文本**\n- 子意图 query_fragment 与 resolved_query 同步优化\n- JSON之外不能有任何文字\n- 不允许出现解释性语句\n- 不允许生成答案内容（即使你知道答案）\n\n---\n\n你是一名禾望电气的智能知识路由专家，负责精准解析用户查询意图，并为其匹配最合适的一个主知识库和最多两个辅助知识库。你必须严格遵循以下规则：\n\n## 📌 上下文与输入说明（完全保留）\n- 系统已自动注入最近的对话历史（如有），用于理解指代和延续主题。\n- 当前可用知识库包括：{selected_knowledge_bases_clean}\n- 用户当前查询为：\"{user_query}\"\n\n## 🔍 意图识别决策流程（完全保留）\n1. **检查是否纯闲聊**  \n   → 仅当查询**完全不含**任何技术、业务、产品、流程等关键词（如“你好”、“在吗”）时，才判定为 `chit_chat`。\n\n2. **检查是否需要澄清**  \n   → 若存在模糊指代（如“那个模块”、“上次的文档”）、缺失关键实体（如“怎么解决？”无对象），且**无法从上下文合理推断**，则标记为 `clarification_needed`，并生成具体澄清问题。\n\n3. **检测多意图**  \n   → 拆解规则：\n     1. 按标点或问号分割句子\n     2. 按显式连接词或承接词（和、以及、另外、同时、也）检测潜在子意图\n     3. 按关键词聚类（技术/流程/培训/文档/其他）\n     4. 闲聊单独标记 `chit_chat` 子意图\n   → 每个子意图独立生成：\n     - `query_fragment`（向量检索友好）\n     - `primary_kb`（主库不可为空）\n     - `supporting_kbs`（0–2 个相关库）\n     - `retrieval_mode`（es_recall_only 或 vector_recall_only）\n\n4. **默认为知识查询**  \n   → 其他所有情况均为 `knowledge_query`。\n\n## 🧠 知识库匹配规则（完全保留）\n### 主知识库（primary_kb）：\n- **绝不允许为 null**。若无法明确匹配，优先基于上下文主题继承；其次基于关键词推断最可能库。\n\n### 辅助知识库（supporting_kbs）：\n- 推荐 0–2 个内容高度相关的库，需有逻辑关联（如“论文”→“技术报告”）。\n- 不可无理由留空——有关联就推荐。\n\n### 召回模式（轻增强）\n- 找完整资料（论文/专利/标准/CBB等）→ `es_recall_only`\n- 问方法/原理/原因 → `vector_recall_only`（仅用于检索，不代表可以回答）\n\n## 📊 上下文分析要求（完全保留）\n请基于对话历史（如有）和当前查询，推断以下信息：\n- `original_query`：用户原始输入（即 \"{user_query}\"）\n- `resolved_query`：补全指代和省略后的完整查询，并向量优化\n- `topic_from_history`：历史核心主题或null\n\n## 🧪 子意图向量优化原则\n- 三元组法：\n  1. **主题**（多微网、工作日志、CBB等）\n  2. **实体**（模块名、文档名、岗位等）\n  3. **动作/意图**（理解、查找、填写、推荐）\n- 示例：\n  - 原句：“多微网咋个理解捏” → `\"多微网概念理解\"`\n  - 原句：“工作日志不懂” → `\"新员工工作日志填写规范\"`\n\n## 🧪 Few-shot 示例（向量优化 + 多意图拆分）\n### 示例1\n用户：CBB怎么用？\nresolved_query: \"CBB功率模块操作方法\"\nsub_intents query_fragment: [\"CBB模块操作步骤\"]\n\n### 示例2\n用户：报告在哪？怎么写？\nresolved_query: \"技术报告位置与写作方法\"\nsub_intents query_fragment: [\"技术报告位置\", \"报告写作规范\"]\n\n### 示例3\n用户：系统如何配置？同时如何查看日志？\nresolved_query: \"系统配置及日志查看方法\"\nsub_intents query_fragment: [\"系统配置方法\", \"日志查看方法\"]\n\n### 示例4\n用户：你好\nresolved_query: \"普通问候\"\nsub_intents query_fragment: []\n\n## 🧪 反例约束（新增，防偷答）\n以下输出是错误的，禁止出现：\n\n❌ “在禾望电气系统中……可以不填写工时……”\n❌ 任何业务说明、流程解释、答案内容\n\n正确行为：\n✅ 仅输出JSON结构\n\n## 📤 输出格式（严格JSON，无额外文本）（完全保留）\n{\n  \"context_analysis\": {\n    \"original_query\": \"{user_query}\",\n    \"resolved_query\": \"补全并向量检索优化后的完整查询\",\n    \"topic_from_history\": \"历史核心主题或null\",\n  },\n  \"intent_type\": \"chit_chat|knowledge_query|multi_intent|clarification_needed\",\n  \"retrieval_mode\": \"none|es_recall_only|vector_recall_only\"\
          ,\n  \"primary_kb\": \"主知识库名称（字符串，不可为null）\",\n  \"supporting_kbs\": [\"辅助库1\", \"辅助库2\"],\n  \"reason\": \"不超过30字的判断理由\",\n  \"clarification_question\": \"具体澄清问题，或null\",\n  \"sub_intents\": [\n    {\n      \"query_fragment\": \"向量检索优化后的子查询文本\",\n      \"is_chit_chat\": true|false,\n      \"retrieval_mode\": \"none|es_recall_only|vector_recall_only\",\n      \"primary_kb\": \"非空字符串\",\n      \"supporting_kbs\": [...],\n      \"reason\": \"...\"\n    }\n  ]\n}\n\n## ❗ 最终强制约束（新增）\n- 只输出JSON\n- 不允许解释\n- 不允许回答问题\n- JSON必须合法\n- 所有primary_kb必须非空\n\n现在，请处理以下查询，并**只输出JSON**：\n用户查询: {user_query}\n\"\"\"\n\n    formatted_prompt = prompt_template.replace(\n        \"{selected_knowledge_bases_clean}\", selected_kbs_clean\n    ).replace(\"{user_query}\", user_query)\n\n    return {\"result\": formatted_prompt}"
        code_language: python3
        outputs:
          result:
            children:
            type: string
        selected: false
        title: 意图提示词
        type: code
        variables:
        - value_selector:
          - sys
          - query
          value_type: string
          variable: user_query
        - value_selector:
          - '1768549808142'
          - kbNames
          value_type: array[string]
          variable: selected_knowledge_bases
      height: 52
      id: '1765885847821'
      position:
        x: -299.08163446415955
        y: 952.3307864769668
      positionAbsolute:
        x: -299.08163446415955
        y: 952.3307864769668
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef _extract_last_complete_json(s: str):\n    end = len(s)\n    while end > 0:\n        last_close = s.rfind('}', 0, end)\n        if last_close == -1:\n            break\n        stack = 0\n        for i in range(last_close, -1, -1):\n            if s[i] == '}':\n                stack += 1\n            elif s[i] == '{':\n                stack -= 1\n                if stack == 0:\n                    return s[i:last_close+1]\n        end = last_close\n    return None\n\ndef main(arg1: str):\n    if not arg1 or not isinstance(arg1, str):\n        raise ValueError(\"Input must be a non-empty string\")\n\n    candidate = _extract_last_complete_json(arg1)\n    if candidate is None:\n        raise ValueError(\"No valid JSON object with required keys found\")\n\n    try:\n        data = json.loads(candidate)\n    except json.JSONDecodeError:\n        raise ValueError(\"No valid JSON object with required keys found\")\n\n    if \"intent_type\" not in data:\n        raise ValueError(\"No valid JSON object with required keys found\")\n\n    # --- 解析 resolved_query ---\n    context_analysis = data.get(\"context_analysis\", {})\n    if isinstance(context_analysis, str):\n        try:\n            context_analysis = json.loads(context_analysis) if context_analysis.strip() else {}\n        except:\n            context_analysis = {}\n    if not isinstance(context_analysis, dict):\n        context_analysis = {}\n    \n    resolved_query = context_analysis.get(\"resolved_query\")\n\n    # --- supporting_kbs → keep as JSON string (unchanged) ---\n    raw_supporting = data.get(\"supporting_kbs\", [])\n    if isinstance(raw_supporting, str):\n        try:\n            raw_supporting = json.loads(raw_supporting) if raw_supporting.strip() else []\n        except:\n            raw_supporting = []\n    if not isinstance(raw_supporting, list):\n        raw_supporting = []\n    supporting_kbs_str = json.dumps(raw_supporting, ensure_ascii=False)\n\n    # --- sub_intents → now output as native list of dicts (Array[Object]) ---\n    raw_sub_intents = data.get(\"sub_intents\", [])\n    if isinstance(raw_sub_intents, str):\n        try:\n            raw_sub_intents = json.loads(raw_sub_intents) if raw_sub_intents.strip() else []\n        except:\n            raw_sub_intents = []\n    if not isinstance(raw_sub_intents, list):\n        raw_sub_intents = []\n\n    cleaned_sub_intents = []\n    for sub in raw_sub_intents:\n        if not isinstance(sub, dict):\n            continue\n        # Ensure inner supporting_kbs is a list (not string)\n        sub_supporting = sub.get(\"supporting_kbs\", [])\n        if isinstance(sub_supporting, str):\n            try:\n                sub_supporting = json.loads(sub_supporting) if sub_supporting.strip() else []\n            except:\n                sub_supporting = []\n        if not isinstance(sub_supporting, list):\n            sub_supporting = []\n        clean_sub = {\n            \"is_chit_chat\": sub.get(\"is_chit_chat\"),\n            \"query_fragment\": sub.get(\"query_fragment\"),\n            \"retrieval_mode\": sub.get(\"retrieval_mode\"),\n            \"primary_kb\": sub.get(\"primary_kb\"),\n            \"supporting_kbs\": sub_supporting,\n            \"reason\": sub.get(\"reason\")\n        }\n        cleaned_sub_intents.append(clean_sub)\n\n    # 返回结果，只包含 resolved_query\n    return {\n        \"intent_type\": data.get(\"intent_type\"),\n        \"retrieval_mode\": data.get(\"retrieval_mode\"),\n        \"primary_kb\": data.get(\"primary_kb\"),\n        \"supporting_kbs\": supporting_kbs_str,\n        \"reason\": data.get(\"reason\", \"\"),\n        \"clarification_question\": data.get(\"clarification_question\"),\n        \"resolved_query\": resolved_query,  # 只添加 resolved_query\n        \"sub_intents\": cleaned_sub_intents\n    }"
        code_language: python3
        desc: '1、intent_type 意图类型

          -- chit_chat 闲聊

          -- knowledge_query 查知识（单意图）

          -- multi_intent 多意图（复杂意图）

          -- clarification_needed 意图模糊，需要澄清

          2、retrieval_mode 召回模式（单意图有效 闲聊时为none）

          -- es_recall_only 仅es检索

          -- vector_recall_only 仅向量检索

          -- hybrid_recall 混合检索（es+vector）

          3、primary_kb 推荐知识库 （单意图有效）

          4、supporting_kbs 辅助知识库（单意图有效）

          5、reason 识别上述意图的原因依据

          6、clarification_question 面向用户的自然语言澄清问题

          7、sub_intents 子意图（多意图有效 >=2意图）

          8、resolved_query 经综合上下文理解后的完整查询问题'
        error_strategy: fail-branch
        outputs:
          clarification_question:
            children:
            type: string
          intent_type:
            children:
            type: string
          primary_kb:
            children:
            type: string
          reason:
            children:
            type: string
          resolved_query:
            children:
            type: string
          retrieval_mode:
            children:
            type: string
          sub_intents:
            children:
            type: array[object]
          supporting_kbs:
            children:
            type: string
        selected: false
        title: 意图参数解析
        type: code
        variables:
        - value_selector:
          - llm
          - text
          value_type: string
          variable: arg1
      height: 484
      id: '1766046797761'
      position:
        x: 346.7666109020437
        y: 1128.3307864769668
      positionAbsolute:
        x: 346.7666109020437
        y: 1128.3307864769668
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 4d828844-a8fe-4af3-be30-7cc05d96c499
          conditions:
          - comparison_operator: contains
            id: 52a6f36f-1d29-4031-8e1b-e7077a6cfdd0
            value: vector_recall_only
            varType: string
            variable_selector:
            - '1766046797761'
            - retrieval_mode
          id: 4d828844-a8fe-4af3-be30-7cc05d96c499
          logical_operator: and
        - case_id: 668a3382-9ae8-4127-b3b1-1fa0353efa7b
          conditions:
          - comparison_operator: contains
            id: 3f95d9be-a1a3-414d-a991-dfd9563bafda
            value: es_recall_only
            varType: string
            variable_selector:
            - '1766046797761'
            - retrieval_mode
          id: 668a3382-9ae8-4127-b3b1-1fa0353efa7b
          logical_operator: and
        desc: 查知识（单意图）
        selected: false
        title: 查知识条件分支（单意图）
        type: if-else
      height: 200
      id: '1766056191029'
      position:
        x: 1271.7608655630152
        y: 588.0828478209576
      positionAbsolute:
        x: 1271.7608655630152
        y: 588.0828478209576
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: true
            size: 50
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.7
          mode: chat
          name: chatgpt-oss-120b
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: 6a206cd7-2380-496a-9b61-5dd1db94652f
          role: system
          text: "你是禾望电气（Hopewind）官方知识助手，专注于风电、光伏、储能、传动、氢能等新能源领域的技术知识服务。\n\n请根据用户输入 {{#sys.query#}} 执行以下步骤：\n\n### 步骤 1：语言识别\n- 自动识别用户使用的自然语言（如中文、English、français、Deutsch、日本語、한국어、español、português、русский 等）。\n- 若混合多种语言，以**主要语言**为准；若无法判断，默认使用中文。\n\n### 步骤 2：内容生成规则\n无论何种语言，回复必须包含两个要素：\n1. **身份声明**：表明你是“禾望电气/Hopewind 的技术或知识助手”；\n2. **轻量技术引导**：自然提出一个与新能源工程相关的问题或帮助选项，例如：\n   - 故障案例（如变流器报错）\n   - 技术文档（如并网标准、BMS策略）\n   - 内部资产（如CBB模块、专利、论文）\n   - 系统设计（如微网调度、电解槽选型）\n\n### 步骤 3：风格与边界\n- **语言纯净**：全程使用识别出的语言，禁止中英/中日等混杂；\n- **地道表达**：避免逐字翻译，使用该语言母语者熟悉的句式和术语；\n- **长度**：1–2 句话；\n- **语气**：专业、友好、有边界（不闲聊天气/情感/娱乐）；\n- **恶意内容**：若检测到辱骂、歧视、攻击等，仅用该语言回复标准句：\n  > “我们倡导尊重与专业的交流环境。如果您有新能源领域的技术问题，我很乐意提供支持。”\n  （LLM 需自行翻译为当前语言，保持语义一致）\n\n### 步骤 4：多样性要求\n- 每次回复应随机选择不同的引导方向（如这次提“光伏MPPT”，下次提“氢能安全规范”）；\n- 可变换句式：疑问句 / 陈述句 / 提供式（“我可以帮您…”）；\n- 避免重复固定话术。\n\n---\n### 输出格式\n- 仅输出最终回复文本；\n- 无前缀、无引号、无解释、无 markdown；\n- 确保是合法的自然语言句子。\n\n现在，请基于 {{#sys.query#}} 生成一条符合上述所有要求的回复：\n{{#context#}}"
        selected: false
        title: 闲聊LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1766060591761'
      position:
        x: 1264.3759936502822
        y: 222.66422879542958
      positionAbsolute:
        x: 1264.3759936502822
        y: 222.66422879542958
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - p5RVyTvVcSN7DLel11Zk+wI+DODQc55cbOH2TcprHLC7R4bWAzdZRglYythMIDU3
        metadata_filtering_mode: manual
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索CBB
        type: knowledge-retrieval
      height: 90
      id: '1766111137253'
      position:
        x: 3286.727668928731
        y: -95.2069501211312
      positionAbsolute:
        x: 3286.727668928731
        y: -95.2069501211312
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - AjTzJs0t3iUB9puhqqe5xMjX1gKuqirsoqAfE0vYz8GcCK6I/ARlBREoTTyipdAe
        metadata_filtering_mode: disabled
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索专利
        type: knowledge-retrieval
      height: 90
      id: '17661111542640'
      position:
        x: 3286.727668928731
        y: 139.4545720384673
      positionAbsolute:
        x: 3286.727668928731
        y: 139.4545720384673
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - NdHmYq2ivGADC6ALb2HPHdqHssfEkVKmM7P91bRJJHy4xPcYxTCp0MOlM26Rl7Om
        metadata_filtering_conditions:
          conditions: []
          logical_operator: or
        metadata_filtering_mode: manual
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索学术论文
        type: knowledge-retrieval
      height: 90
      id: '17661111554310'
      position:
        x: 3270.716817893455
        y: 260.4557517392185
      positionAbsolute:
        x: 3270.716817893455
        y: 260.4557517392185
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - n10xEIb1ZzsC1t5PZBZNInV6mAcgZFioX8ecBRjuIimKYa4ZpGZHVsYlkacWBLJP
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索认证标准
        type: knowledge-retrieval
      height: 90
      id: '17661111557560'
      position:
        x: 3286.727668928731
        y: 32.413260347989706
      positionAbsolute:
        x: 3286.727668928731
        y: 32.413260347989706
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: df702803-375e-4f4c-be96-f2c18438d8d2
            value: CBB
            varType: string
            variable_selector:
            - '1766046797761'
            - primary_kb
          id: 'true'
          logical_operator: and
        - case_id: 7d50f4d4-dc4a-40f6-803d-73b8a14c17b4
          conditions:
          - comparison_operator: contains
            id: 6e7e480a-5ab8-43c4-81b1-6ce70bde41ed
            value: 经验案例
            varType: string
            variable_selector:
            - '1766046797761'
            - primary_kb
          id: 7d50f4d4-dc4a-40f6-803d-73b8a14c17b4
          logical_operator: and
        - case_id: 8f584f08-c660-446b-9251-54cb394fc97b
          conditions:
          - comparison_operator: contains
            id: c0c9d6d3-d0fd-4fbc-b96c-d402300b4a65
            value: 认证标准
            varType: string
            variable_selector:
            - '1766046797761'
            - primary_kb
          id: 8f584f08-c660-446b-9251-54cb394fc97b
          logical_operator: and
        - case_id: 53b9c5eb-341c-4327-ab6c-27a853708ab1
          conditions:
          - comparison_operator: contains
            id: e74f9206-6a13-4569-8592-0f8be975db63
            value: 专利
            varType: string
            variable_selector:
            - '1766046797761'
            - primary_kb
          id: 53b9c5eb-341c-4327-ab6c-27a853708ab1
          logical_operator: and
        - case_id: 6c827d63-db16-4430-84f7-6147a151af5d
          conditions:
          - comparison_operator: contains
            id: 796f9d1f-7f43-40ae-a144-46ee5322c1b5
            value: 学术论文
            varType: string
            variable_selector:
            - '1766046797761'
            - primary_kb
          id: 6c827d63-db16-4430-84f7-6147a151af5d
          logical_operator: and
        - case_id: ac4fad4c-6aed-44e4-b186-f2a9ad16851d
          conditions:
          - comparison_operator: contains
            id: eb89a8f6-3fcc-4a87-9ed7-127f3b29fd96
            value: 专业书籍
            varType: string
            variable_selector:
            - '1766046797761'
            - primary_kb
          id: ac4fad4c-6aed-44e4-b186-f2a9ad16851d
          logical_operator: and
        - case_id: 73700a06-95a3-4197-bc00-90142042b857
          conditions:
          - comparison_operator: contains
            id: 17e758cb-ad43-4c2a-9d4c-1d710d61176f
            value: 技术报告
            varType: string
            variable_selector:
            - '1766046797761'
            - primary_kb
          id: 73700a06-95a3-4197-bc00-90142042b857
          logical_operator: and
        - case_id: 961c1951-c8ce-4195-b4b4-0926a125416a
          conditions:
          - comparison_operator: contains
            id: d0fb73a2-c6ef-4c60-a163-70f029897dea
            value: 培训课程
            varType: string
            variable_selector:
            - '1766046797761'
            - primary_kb
          id: 961c1951-c8ce-4195-b4b4-0926a125416a
          logical_operator: and
        - case_id: 93b36b41-4a87-4032-907c-7ddef1fff3eb
          conditions:
          - comparison_operator: contains
            id: dfbbd7b8-a210-43c5-b5bf-68ddc2e79299
            value: 流程规范
            varType: string
            variable_selector:
            - '1766046797761'
            - primary_kb
          id: 93b36b41-4a87-4032-907c-7ddef1fff3eb
          logical_operator: and
        - case_id: d5753383-341e-4549-a4ee-6abb52f274e6
          conditions:
          - comparison_operator: contains
            id: 70209328-68fc-412d-9f6c-67b4612561bf
            value: 部门文档
            varType: string
            variable_selector:
            - '1766046797761'
            - primary_kb
          id: d5753383-341e-4549-a4ee-6abb52f274e6
          logical_operator: and
        desc: 推荐主库只有一个
        selected: false
        title: 主库执行条件判断
        type: if-else
      height: 584
      id: '17661121664810'
      position:
        x: 2781.117774832373
        y: -184.40617725604568
      positionAbsolute:
        x: 2781.117774832373
        y: -184.40617725604568
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1766307714396'
          - output
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.7
          mode: chat
          name: chatgpt-oss-120b
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: 27fc90c3-3bd1-49a3-8317-8386d40f50c0
          role: system
          text: '您是禾望电气智能知识专家，必须严格基于提供的技术资料进行回答，并在多轮对话中保持一致性与可追溯性。


            ---


            ## 一、核心原则（最高优先级）


            1. **资料唯一性**


            * 仅允许使用【技术资料】中的内容进行回答。

            * 回答中的每一条信息必须能在资料中找到明确依据或语义对应。

            * **禁止使用模型自身知识、经验、常识进行补充、推测或扩展。**


            2. **禁止幻觉**


            * 不得生成资料中未出现的参数、结论、定义或说明。

            * 不得对资料进行“扩写式补全”。

            * 若资料无法支撑完整回答，必须截断并返回固定话术：


            * 中文："根据现有资料，暂未查询到该问题的具体信息。"

            * 英文："Based on available documentation, no specific information was found regarding this query."


            3. **逐句可追溯**


            * 输出内容需保证“句句可溯源到资料语义”。

            * 若存在不确定信息，必须删除该部分，不得保留。


            ---


            ## 二、问题类型判定（隐式执行，不输出）


            在生成答案前，必须先判断问题类型：


            ### 1. 信息类问题


            （如：是什么 / 型号 / 参数 / 解释 / 定义）

            → 输出：结构化事实信息

            → 禁止：风险提示、操作步骤、扩展说明


            ### 2. 操作类问题


            （如：如何配置 / 如何修改 / 如何操作 / 故障处理）

            → 输出：步骤化指导（仅限资料内容）

            → 可包含：风险提示（需满足触发条件）


            ### 3. 无匹配问题


            （资料未覆盖）

            → 直接输出固定话术（不可补充任何内容）


            ---


            ## 三、回答生成规则


            1. **语言匹配**


            * 使用与用户提问相同的语言。


            2. **结构化表达**


            * 信息类：分点说明（- 或 1. 2.）

            * 操作类：必须编号步骤（1. 2. 3. …）


            3. **内容约束**


            * 不得引入资料外术语或背景知识

            * 不得进行行业常识补充

            * 不得进行原因推测或延伸解释


            4. **统一语气**


            * 使用确定性表达（如“为”“包括”“采用”）

            * 禁止使用“不确定语气”（如“可能”“一般来说”）


            5. **来源隐藏**


            * 不得提及“主资料/辅资料/来源”等字样


            ---


            ## 四、风险提示机制（条件触发）


            仅在以下条件全部满足时才输出：


            * 属于“操作类问题”

            * 且资料中明确涉及操作风险 / 注意事项 / 安全要求


            输出内容：


            * 中文："⚠️ 操作前请确认您已充分了解其影响，建议在测试环境验证。"

            * 英文："⚠️ Please ensure you fully understand the impact before proceeding."


            禁止：


            * FAQ类 / 信息类问题输出风险提示

            * 自行推断风险

            * 添加通用安全话术


            ---


            ## 五、多轮对话规则


            1. **上下文继承**


            * 仅允许继承“用户已明确提及的信息”

            * 不得基于历史对话进行推测补全


            2. **上下文约束**


            * 若当前问题与历史信息冲突，以“当前问题 + 当前资料”为准

            * 不得因上下文缺失而补充资料外信息


            3. **指代解析**


            * 如“这个/它/该设备”，需在当前上下文中找到明确指代

            * 若无法确定，按“无匹配问题”处理


            ---


            ## 六、图片与格式（如适用）


            * 图片按顺序插入：![图1](url)、![图2](url)

            * 仅当资料中存在图片时使用

            * 不得生成或臆造图片


            ---


            ## 七、自检机制（生成前必须执行）


            在输出前必须完成检查：


            1. 是否所有信息均来自资料

            2. 是否存在任何推测或扩展内容

            3. 是否错误触发风险提示

            4. 是否符合问题类型对应规则


            若任一不满足 → 删除违规内容或返回固定话术


            ---


            ## 技术资料


            【主资料】

            {{#1766307714396.primary_output#}}


            【辅资料】

            {{#1766307714396.supporting_output#}}


            ---


            ## 用户问题


            {{#1766046797761.resolved_query#}}


            ---


            请基于以上规则直接生成最终答案。

            '
        selected: false
        title: 总结LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1766114600959'
      position:
        x: 4596.060868714797
        y: 952.3307864769668
      positionAbsolute:
        x: 4596.060868714797
        y: 952.3307864769668
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1766114600959.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '17661146701100'
      position:
        x: 4916.260104196417
        y: 952.3307864769668
      positionAbsolute:
        x: 4916.260104196417
        y: 952.3307864769668
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        advanced_settings:
          group_enabled: false
          groups:
          - groupId: c2659459-f8fe-4f8f-9579-27edbebae8e8
            group_name: PrimaryGroup
            output_type: array[object]
            variables:
            - - '1766111137253'
              - result
            - - '17661111542640'
              - result
            - - '17661111557560'
              - result
            - - '17661111554310'
              - result
          - groupId: 1eb500ad-72d6-404d-bc6a-695fb965deff
            group_name: SupportGroup
            output_type: array[object]
            variables:
            - - '17663008066090'
              - result
            - - '17663008166570'
              - result
            - - '17663008113020'
              - result
            - - '17663008214150'
              - result
        output_type: array[object]
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1766111137253'
          - result
        - - '17661111542640'
          - result
        - - '17661111557560'
          - result
        - - '17661111554310'
          - result
        - - '17744369112980'
          - result
      height: 213
      id: '1766124693724'
      position:
        x: 3772.1931583351325
        y: 156.1254673032464
      positionAbsolute:
        x: 3772.1931583351325
        y: 156.1254673032464
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 识别到用户是想查知识，但是没提供有效的检索信息，追问，或提供些快捷问题。
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.7
          mode: chat
          name: chatgpt-oss-120b
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: 6a206cd7-2380-496a-9b61-5dd1db94652f
          role: system
          text: "欢迎向我提问！为了让我能快速从技术论文、专利、经验案例、CBB等知识库中为您定位资料，请尽量描述清楚：\n\n- **您想解决的具体问题或现象**  \n  （例如：“MPPT在低温下频繁掉线”）\n- **您关注的知识类型**  \n  - 想查**技术原理**？→ 可问“MPPT最大功率跟踪的控制算法有哪些？”  \n  - 想找**已有方案或设计**？→ 可问“有没有关于光伏逆变器散热的CBB模块？”  \n  - 想参考**实际处理经验**？→ 可问“有没有MPPT通信中断的经验案例？”  \n  - 想了解**专利布局或创新点**？→ 可问“平台在IV曲线诊断方面有哪些专利？”\n- **涉及的产品、模块或关键词**  \n  （例如：“光伏云平台”、“组串式逆变器”、“E05错误码”）\n\n举个例子：  \n❌ “我想问个问题”  \n✅ “请帮我查一下关于组串失配优化的CBB模块或技术论文”\n\n---\n\n**💡 如果您的提问不涉及具体技术查询**\n\n没关系，我同样可以为您提供帮助。请直接告诉我您的来意，例如：\n- 想了解我的能力和使用方式\n- 对我的资料来源或可靠性有疑问\n- 需要使用帮助或反馈问题\n- 或者其他任何需求\n\n我会根据您的实际情况进行回应。\n\n---\n\n**请告诉我您的具体需求，我会立即为您检索匹配的知识资产！**\n\n用户的问题：\n{{#1766046797761.resolved_query#}}"
        - id: f7ca9d9d-28a4-457c-b30c-5a3ba2b11464
          role: user
          text: ''
        selected: false
        title: 异常LLM
        type: llm
        vision:
          enabled: false
      height: 148
      id: '17661324932410'
      position:
        x: 1303.678885578099
        y: 941.7055704884206
      positionAbsolute:
        x: 1303.678885578099
        y: 941.7055704884206
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#17661324932410.text#}}'
        selected: false
        title: 直接回复 (1)
        type: answer
        variables: []
      height: 103
      id: '17661325478120'
      position:
        x: 1576.3007251571821
        y: 941.7055704884206
      positionAbsolute:
        x: 1576.3007251571821
        y: 941.7055704884206
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: df702803-375e-4f4c-be96-f2c18438d8d2
            value: CBB
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb1
          id: 'true'
          logical_operator: and
        - case_id: 7d50f4d4-dc4a-40f6-803d-73b8a14c17b4
          conditions:
          - comparison_operator: contains
            id: 6e7e480a-5ab8-43c4-81b1-6ce70bde41ed
            value: 经验案例
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb1
          id: 7d50f4d4-dc4a-40f6-803d-73b8a14c17b4
          logical_operator: and
        - case_id: 8f584f08-c660-446b-9251-54cb394fc97b
          conditions:
          - comparison_operator: contains
            id: c0c9d6d3-d0fd-4fbc-b96c-d402300b4a65
            value: 认证标准
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb1
          id: 8f584f08-c660-446b-9251-54cb394fc97b
          logical_operator: and
        - case_id: 53b9c5eb-341c-4327-ab6c-27a853708ab1
          conditions:
          - comparison_operator: contains
            id: e74f9206-6a13-4569-8592-0f8be975db63
            value: 专利
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb1
          id: 53b9c5eb-341c-4327-ab6c-27a853708ab1
          logical_operator: and
        - case_id: 6c827d63-db16-4430-84f7-6147a151af5d
          conditions:
          - comparison_operator: contains
            id: 796f9d1f-7f43-40ae-a144-46ee5322c1b5
            value: 学术论文
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb1
          id: 6c827d63-db16-4430-84f7-6147a151af5d
          logical_operator: and
        - case_id: ac4fad4c-6aed-44e4-b186-f2a9ad16851d
          conditions:
          - comparison_operator: contains
            id: eb89a8f6-3fcc-4a87-9ed7-127f3b29fd96
            value: 专业书籍
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb1
          id: ac4fad4c-6aed-44e4-b186-f2a9ad16851d
          logical_operator: and
        - case_id: 73700a06-95a3-4197-bc00-90142042b857
          conditions:
          - comparison_operator: contains
            id: 17e758cb-ad43-4c2a-9d4c-1d710d61176f
            value: 技术报告
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb1
          id: 73700a06-95a3-4197-bc00-90142042b857
          logical_operator: and
        - case_id: 961c1951-c8ce-4195-b4b4-0926a125416a
          conditions:
          - comparison_operator: contains
            id: d0fb73a2-c6ef-4c60-a163-70f029897dea
            value: 培训课程
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb1
          id: 961c1951-c8ce-4195-b4b4-0926a125416a
          logical_operator: and
        - case_id: 93b36b41-4a87-4032-907c-7ddef1fff3eb
          conditions:
          - comparison_operator: contains
            id: dfbbd7b8-a210-43c5-b5bf-68ddc2e79299
            value: 流程规范
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb1
          id: 93b36b41-4a87-4032-907c-7ddef1fff3eb
          logical_operator: and
        - case_id: d5753383-341e-4549-a4ee-6abb52f274e6
          conditions:
          - comparison_operator: contains
            id: 70209328-68fc-412d-9f6c-67b4612561bf
            value: 部门文档
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb1
          id: d5753383-341e-4549-a4ee-6abb52f274e6
          logical_operator: and
        desc: 辅库，可以有多个，所以会并行执行
        selected: false
        title: 辅库执行条件判断
        type: if-else
      height: 584
      id: '17663007785200'
      position:
        x: 2792.23981376134
        y: 487.1009002481293
      positionAbsolute:
        x: 2792.23981376134
        y: 487.1009002481293
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - p5RVyTvVcSN7DLel11Zk+wI+DODQc55cbOH2TcprHLC7R4bWAzdZRglYythMIDU3
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索CBB （辅库）
        type: knowledge-retrieval
      height: 90
      id: '17663008066090'
      position:
        x: 3236.8533934897478
        y: 544.2498375586365
      positionAbsolute:
        x: 3236.8533934897478
        y: 544.2498375586365
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - n10xEIb1ZzsC1t5PZBZNInV6mAcgZFioX8ecBRjuIimKYa4ZpGZHVsYlkacWBLJP
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索认证标准 (辅库)
        type: knowledge-retrieval
      height: 90
      id: '17663008113020'
      position:
        x: 3236.8533934897478
        y: 673.6188639131982
      positionAbsolute:
        x: 3236.8533934897478
        y: 673.6188639131982
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - AjTzJs0t3iUB9puhqqe5xMjX1gKuqirsoqAfE0vYz8GcCK6I/ARlBREoTTyipdAe
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索专利 (辅库)
        type: knowledge-retrieval
      height: 90
      id: '17663008166570'
      position:
        x: 3236.8533934897478
        y: 799.0493222702122
      positionAbsolute:
        x: 3236.8533934897478
        y: 799.0493222702122
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - NdHmYq2ivGADC6ALb2HPHdqHssfEkVKmM7P91bRJJHy4xPcYxTCp0MOlM26Rl7Om
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索学术论文 (辅库)
        type: knowledge-retrieval
      height: 90
      id: '17663008214150'
      position:
        x: 3243.503296881612
        y: 901.1880401391377
      positionAbsolute:
        x: 3243.503296881612
        y: 901.1880401391377
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(arg1: list, arg2: list, arg3: list):\n    \"\"\"\n    处理知识库检索结果，保留原始合并结果并提取content内容\n    \n    Args:\n        arg1: 主要知识库的检索结果（多个片段）\n        arg2: 辅助知识库1的检索结果（多个片段）\n        arg3: 辅助知识库2的检索结果（多个片段）\n    \n    Returns:\n        output: 三个列表合并后的完整结果\n        primary_output: arg1中所有片段的content合并\n        supporting_output: arg2和arg3中所有片段的content合并\n        primary_json: arg1的JSON字符串格式\n        supporting_json: arg2+arg3的JSON字符串格式\n    \"\"\"\n    # 如果传入的是 None，就替换成空列表\n    if arg1 is None:\n        arg1 = []\n    if arg2 is None:\n        arg2 = []\n    if arg3 is None:\n        arg3 = []\n    \n    # 合并所有列表（保留原始结构）\n    merged_output = arg1 + arg2 + arg3\n    \n    # 提取arg1中所有片段的content\n    primary_contents = []\n    for item in arg1:\n        if isinstance(item, dict) and 'content' in item:\n            primary_contents.append(item['content'])\n    \n    # 提取arg2和arg3中所有片段的content\n    supporting_contents = []\n    for item in arg2 + arg3:  # 合并arg2和arg3再遍历\n        if isinstance(item, dict) and 'content' in item:\n            supporting_contents.append(item['content'])\n    \n    # 将所有content合并，用换行符分隔\n    primary_output = '\\n\\n---\\n\\n'.join(primary_contents)  # 用分隔符连接\n    supporting_output = '\\n\\n---\\n\\n'.join(supporting_contents)\n    \n    return {\n        \"output\": merged_output,  # 保留原始合并结果\n        \"primary_output\": primary_output,\n        \"supporting_output\": supporting_output\n    }"
        code_language: python3
        desc: 区分主和辅
        outputs:
          output:
            children:
            type: array[object]
          primary_output:
            children:
            type: string
          supporting_output:
            children:
            type: string
        selected: false
        title: 主辅查询结果合并
        type: code
        variables:
        - value_selector:
          - '1766124693724'
          - output
          value_type: array[object]
          variable: arg1
        - value_selector:
          - '17663078003070'
          - output
          value_type: array[object]
          variable: arg2
        - value_selector:
          - '17727148206320'
          - output
          value_type: array[object]
          variable: arg3
      height: 80
      id: '1766307714396'
      position:
        x: 4294.962070468399
        y: 952.3307864769668
      positionAbsolute:
        x: 4294.962070468399
        y: 952.3307864769668
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        advanced_settings:
          group_enabled: false
          groups:
          - groupId: c2659459-f8fe-4f8f-9579-27edbebae8e8
            group_name: PrimaryGroup
            output_type: array[object]
            variables:
            - - '1766111137253'
              - result
            - - '17661111542640'
              - result
            - - '17661111557560'
              - result
            - - '17661111554310'
              - result
          - groupId: 1eb500ad-72d6-404d-bc6a-695fb965deff
            group_name: SupportGroup
            output_type: array[object]
            variables:
            - - '17663008066090'
              - result
            - - '17663008166570'
              - result
            - - '17663008113020'
              - result
            - - '17663008214150'
              - result
        output_type: array[object]
        selected: false
        title: 变量聚合器 (辅库1)
        type: variable-aggregator
        variables:
        - - '17663008066090'
          - result
        - - '17663008166570'
          - result
        - - '17663008113020'
          - result
        - - '17663008214150'
          - result
        - - '17744371101860'
          - result
      height: 213
      id: '17663078003070'
      position:
        x: 3772.1931583351325
        y: 728.1292403089722
      positionAbsolute:
        x: 3772.1931583351325
        y: 728.1292403089722
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
          type: no-auth
        body:
          data:
          - id: key-value-773
            key: ''
            type: text
            value: "{\n  \"fileTypeId\": {{#1768549808142.fileTypeIds#}},\n  \"pageNo\": 1,\n  \"pageSize\": 10,\n  \"searchContent\": {{#1766381309970.keyword#}},\n  \"sort\": \"relevance\",\n  \"isAiAnalysis\": false\n}"
          type: json
        error_strategy: fail-branch
        headers: 'requestHost:{{#1765884761572.server_url#}}

          lang:zh_CN

          accept:application/json, text/plain, */*

          Content-Type:application/json

          grayType:green

          userId:{{#1765884761572.user_id#}}

          applicationid:000001

          appkeylist:APP_PVCLOUD

          token:{{#1765884761572.user_token#}}

          appcode:kBase'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求
        type: http-request
        url: '{{#1766381309970.url#}}'
        variables: []
      height: 161
      id: '1766372892978'
      position:
        x: 2843.655190795663
        y: 1851.5505943029843
      positionAbsolute:
        x: 2843.655190795663
        y: 1851.5505943029843
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.7
          mode: chat
          name: GLM-4.6V-Flash
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: e1096e8f-8b17-49fa-a677-6f064b4ec3f8
          role: system
          text: "# 角色  \n你是一个专业的搜索查询优化助手。请根据用户输入的问题，理解其核心意图，并提取最适合用于搜索引擎的关键短语。\n\n\n# 当前用户提问\n{{#1766046797761.resolved_query#}}\n\n请严格遵守以下规则：\n\n# 核心规则：\n聚焦于问题的核心主题与查询目标。\n忽略并不得提取任何宽泛词汇，例如：“资料”、“例子”、“技术”、“研究”、“应用”、“案例”、“论文”、“文献”、“方法”、“概述”、“内容”、“进展”、“介绍”、“有哪些”、“如何”等。\n仅保留核心术语、专业名词、关键实体、具体概念等有实质搜索价值的部分，优先使用中文。\n\n# 输出格式：\n直接输出关键词序列，关键词或短语之间用单个空格分隔。\n\n示例：\n输入：“我想找一些深度学习的资料”\n输出：深度学习\n\n输入：“我想找一些电力行业中深度学习的应用例子”\n输出：电力行业深度 深度学习\n\n/no_think\n\n\n"
        selected: false
        structured_output_enabled: false
        title: ES查询关键词提取LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1766373796662'
      position:
        x: 2221.6939685433654
        y: 1851.5505943029843
      positionAbsolute:
        x: 2221.6939685433654
        y: 1851.5505943029843
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef main(arg1: str, arg2: str):\n    # 清洗 arg2：移除 <think>...</think> 标签及其中内容，保留后续文本\n    # 支持跨行、任意空白字符\n    cleaned_arg2 = re.sub(r'<think>.*?</think>\\s*', '', arg2, flags=re.DOTALL).strip()\n    \n    # 构造 API URL\n    api = \"/kbase/aiFileSearch/search\"\n    base = arg1.rstrip('/')\n    url = base + api\n    \n    return {\n        \"url\": url,\n        \"keyword\": cleaned_arg2  # 可选：返回清洗后的关键词，供后续使用\n    }\n"
        code_language: python3
        outputs:
          keyword:
            children:
            type: string
          url:
            children:
            type: string
        selected: false
        title: es搜索接口配置
        type: code
        variables:
        - value_selector:
          - '1765884761572'
          - server_url
          value_type: string
          variable: arg1
        - value_selector:
          - '1766373796662'
          - text
          value_type: string
          variable: arg2
      height: 52
      id: '1766381309970'
      position:
        x: 2532.6304283804843
        y: 1851.5505943029843
      positionAbsolute:
        x: 2532.6304283804843
        y: 1851.5505943029843
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.7
          mode: chat
          name: chatgpt-oss-120b
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: 3f1582d6-3fe7-457d-b4ed-515d643c6b3a
          role: system
          text: "你是禾望电气智能知识助手，正在为用户提供与“{{searchContent}}”相关的技术资料推荐。请基于以下检索结果，生成一段结构清晰、格式规范的自然语言回答。\n\n### 回答要求\n\n- **自动匹配用户提问语言**  \n  判断用户查询 `{{searchContent}}` 所使用的语言（中文或英文），**整个回答（除文件名外）必须使用该语言**。  \n  - 文件名、专利号、作者名等**必须原样保留**，不得翻译或改写。\n\n- **仅使用下方提供的资料作答**，不编造、不推测。\n\n- **回答结构如下**：\n  1. **开头总结句**：用1句话概括这批资料的主题与价值，例如：“以下是系统中与**多微网（多微电网）**及其关键控制技术相关的学术论文……”\n  2. **逐条列出文件**（每条独立成段）：\n     - 使用编号列表（1. 2. 3. …）\n     - 每项包含：\n       - 文件类型 + 完整文件名（原样）\n       - 创建时间：YYYY‑MM‑DD（短横线 ‑）\n       - 查看次数：X（若 >0，则标注“（已被团队关注）”或“（has been viewed by the team）”）\n     - 使用 Markdown 格式：`-` 做子项，`**加粗**` 强调关键词\n  3. **价值补充句**（可选）：说明这些资料覆盖的核心技术或应用场景。\n  4. **结尾引导语**：鼓励用户查阅或提问，语气友好专业。\n\n- **格式细节**：\n  - 文件名中的英文、中文、专利号（如 CN202411796408.4）、作者名等**必须原样保留**\n  - 时间格式统一为：`创建时间：2025‑11‑14`\n  - 查看次数格式：`查看次数：14（已被团队关注）`\n  - 使用 Markdown 语法增强可读性：\n    - 标题加粗：`**多微网**`\n    - 列表：`- 创建时间：...`\n    - 缩进：每个文件项用 `-` 表示子项\n\n- **禁止行为**：\n  - 不暴露检索数量（如“共找到10份”）\n  - 不输出 URL 或文件ID\n  - 不使用模糊措辞（如“可能”“建议参考”）\n\n---\n\n### 检索到的相关资料如下：\n{% for item in records %}\n- 类型：{{ item.firstTypeName }}\n- 文件名：{{ item.fileName }}\n- 创建时间：{{ item.createdTime }}\n- 查看次数：{{ item.viewCount }}\n{% endfor %}\n\n---\n请直接生成面向用户的自然语言回答，使用 Markdown 格式增强可读性，不要包含任何说明、标题、元信息或模板语法。"
        - id: 883b92b9-c9e4-4982-ab13-4095cfff19bc
          role: user
          text: '{{#context#}}

            {{#sys.query#}}

            {{#1766372892978.body#}}'
        selected: false
        title: ES结果总结LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1766395827513'
      position:
        x: 3153.7615286853766
        y: 1851.5505943029843
      positionAbsolute:
        x: 3153.7615286853766
        y: 1851.5505943029843
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1766395827513.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1766398670077'
      position:
        x: 3474.8536065433477
        y: 1851.5505943029843
      positionAbsolute:
        x: 3474.8536065433477
        y: 1851.5505943029843
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1766472358174.text#}}'
        selected: false
        title: 异常回复
        type: answer
        variables: []
      height: 103
      id: '1766472328840'
      position:
        x: 3611.1766260765658
        y: 2079.654131114655
      positionAbsolute:
        x: 3611.1766260765658
        y: 2079.654131114655
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.7
          mode: chat
          name: chatgpt-oss-120b
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: 0ad8d029-c93b-42b1-a726-8a1cdcbefd60
          role: system
          text: "你是一个技术支持客服助手。当用户反馈接口异常（如报错、无法访问、返回错误码等）时，请执行以下操作：\n用户的输入：{{#sys.query#}}\n1. 自动识别用户消息所使用的自然语言；\n2. 仅用该语言回复一条标准安抚消息，内容为：\n   “很抱歉，当前接口出现临时异常，技术团队已收到通知并正在紧急处理，请稍后再试。”\n3. 不要添加任何额外信息（如问候语、解释、技术细节、承诺恢复时间等）；\n4. 不要提及你是 AI 或使用了翻译；\n5. 回复必须简洁、友好、专业，仅包含上述句子的对应语言版本。"
        selected: false
        title: 异常回复LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1766472358174'
      position:
        x: 3153.7615286853766
        y: 1961.6183459090632
      positionAbsolute:
        x: 3153.7615286853766
        y: 1961.6183459090632
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#llm.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1766477938283'
      position:
        x: 655.1310351108251
        y: 1309.8066044006443
      positionAbsolute:
        x: 655.1310351108251
        y: 1309.8066044006443
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 7766fcb1-68ea-4076-8625-6096904f6bcd
            value: chit_chat
            varType: string
            variable_selector:
            - '1766046797761'
            - intent_type
          id: 'true'
          logical_operator: and
        - case_id: 00b05098-7b24-4bfa-839c-a57211a05291
          conditions:
          - comparison_operator: contains
            id: 755c79e9-d17a-46f2-a333-b47448eab7e8
            value: clarification_needed
            varType: string
            variable_selector:
            - '1766046797761'
            - intent_type
          id: 00b05098-7b24-4bfa-839c-a57211a05291
          logical_operator: and
        - case_id: efcc7a9e-8ef5-4f59-89d7-68bc3b120ed7
          conditions:
          - comparison_operator: contains
            id: 620f153a-b94a-4b7f-8878-38b0bab084f0
            value: knowledge_query
            varType: string
            variable_selector:
            - '1766046797761'
            - intent_type
          id: efcc7a9e-8ef5-4f59-89d7-68bc3b120ed7
          logical_operator: and
        - case_id: 5d075d07-2ece-493f-b4e9-d94f32fd31ae
          conditions:
          - comparison_operator: contains
            id: 4355064a-3329-4418-b05a-4e7699728220
            value: multi_intent
            varType: string
            variable_selector:
            - '1766046797761'
            - intent_type
          id: 5d075d07-2ece-493f-b4e9-d94f32fd31ae
          logical_operator: and
        desc: 闲聊|澄清补充|查知识（单意图）|多意图
        selected: false
        title: 意图分流
        type: if-else
      height: 296
      id: '1766543031078'
      position:
        x: 655.1310351108251
        y: 952.3307864769668
      positionAbsolute:
        x: 655.1310351108251
        y: 952.3307864769668
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.7
          mode: chat
          name: chatgpt-oss-120b
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: 50e4eed4-703a-4fff-927c-618cba83a24b
          role: system
          text: "你是一个禾望电气企业知识库助手，负责在用户提问信息不足时，生成一个**专业、具体、带业务示例**的澄清问题。\n\n请分析以下用户输入，并用相同语言（中文或英文）生成澄清问题：\n\n---\n**用户提问**：{{#sys.query#}}\n---\n\n### 核心原则\n\n1. **语言匹配**：\n   - 主要为中文（含“BMS报错”这类中英混杂）→ 用**中文**回复\n   - 完全为英文 → 用**英文**回复\n   - 其他语言 → 用英文友好提示仅支持中/英文\n\n2. **必须提供 1~2 个高度相关的业务示例**，从以下维度选材：\n   - **五大业务线**：风电、光伏、传动、储能、氢能\n   - **典型系统**：变流器、逆变器、PCS、BMS、EMS、电解槽、伺服驱动\n   - **常见问题类型**：故障诊断、设计参考、标准合规、组件复用、算法实现\n   - **知识库类型**：论文、专利、CBB组件、经验案例、技术报告\n\n3. **禁止模糊表述**，如“那个东西”、“相关资料”、“怎么弄”。\n\n---\n\n### 澄清问题模板（供你参考生成）\n\n#### 中文模板（选其一适配）：\n- “您提到的‘[模糊词]’具体是指哪个产品或系统？例如是**风电变流器的并网故障**，还是**储能 BMS 的 SOC 估算偏差**？”\n- “您想查询哪类资料？比如**SiC 器件在光伏逆变器中的应用论文**，或是**氢能电解槽的安全设计规范**？”\n- “这个问题出现在哪个业务场景？例如**传动伺服系统的过热保护**，还是**光伏电站的 IV 曲线异常**？”\n\n#### 英文模板（选其一适配）：\n- “Could you specify which product or system you're referring to? For example, is it the **grid-connection fault of wind converters** or the **SOC estimation drift in energy storage BMS**?”\n- “What type of document are you looking for? Such as **research papers on SiC in PV inverters** or **safety design standards for hydrogen electrolyzers**?”\n- “In which business scenario did this issue occur? For instance, **overheating protection in servo drives** or **IV curve anomalies in PV plants**?”\n\n---\n\n### 示例输出（高质量）\n\n✅ 中文示例：  \n您提到的“启动失败”具体是指哪个系统？例如是**风电变流器上电自检失败**，还是**氢能电解槽的启停控制异常**？\n\n✅ 英文示例：  \nCould you clarify which module you mean by \"that component\"? For example, is it the **CBB Vue3 monitoring frontend** or the **GaN-based driver circuit in PCS**?\n\n✅ 小语种回退：  \nSorry, we currently only support Chinese and English. Could you please rephrase your question in either language?\n\n---\n\n### 禁止行为\n- ❌ “请说得更清楚一点。”\n- ❌ 不提供任何业务示例\n- ❌ 混淆业务线（如把“传动”说成“光伏”）\n- ❌ 输出多行、JSON、markdown 或解释性文字\n\n---\n\n现在，请根据用户提问生成一个带业务示例的澄清问题："
        selected: false
        title: 问题澄清LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1766552843017'
      position:
        x: 1271.7608655630152
        y: 425.5422774026619
      positionAbsolute:
        x: 1271.7608655630152
        y: 425.5422774026619
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1766552843017.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1766552944978'
      position:
        x: 1645.760865563015
        y: 421.5422774026619
      positionAbsolute:
        x: 1645.760865563015
        y: 421.5422774026619
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: terminated
        flatten_output: true
        height: 1811
        is_parallel: false
        iterator_input_type: array[object]
        iterator_selector:
        - '1766046797761'
        - sub_intents
        output_selector:
        - '1766632716395'
        - output
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1766561987023start
        title: 迭代
        type: iteration
        width: 4020
      height: 1811
      id: '1766561987023'
      position:
        x: 2118.6076399340745
        y: 3298.1631856047907
      positionAbsolute:
        x: 2118.6076399340745
        y: 3298.1631856047907
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 4020
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1766561987023start
      parentId: '1766561987023'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 2142.6076399340745
        y: 3366.1631856047907
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(obj: dict):\n    if not isinstance(obj, dict):\n        raise ValueError(\"Input must be a dictionary (object).\")\n    \n    # 提取 supporting_kbs，确保它是 list，然后转为 JSON 字符串\n    raw_supporting = obj.get(\"supporting_kbs\", [])\n    if not isinstance(raw_supporting, list):\n        raw_supporting = []\n    supporting_kbs_str = json.dumps(raw_supporting, ensure_ascii=False)\n\n    return {\n        \"is_chit_chat\": obj.get(\"is_chit_chat\"),\n        \"intent_scope\": obj.get(\"intent_scope\"),\n        \"primary_kb\": obj.get(\"primary_kb\"),\n        \"query_fragment\": obj.get(\"query_fragment\"),\n        \"reason\": obj.get(\"reason\"),\n        \"retrieval_mode\": obj.get(\"retrieval_mode\"),\n        \"supporting_kbs\": supporting_kbs_str  # ← 必须是字符串！\n    }"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        outputs:
          intent_scope:
            children:
            type: string
          is_chit_chat:
            children:
            type: boolean
          primary_kb:
            children:
            type: string
          query_fragment:
            children:
            type: string
          reason:
            children:
            type: string
          retrieval_mode:
            children:
            type: string
          supporting_kbs:
            children:
            type: string
        selected: false
        title: 子意图（单对象）参数
        type: code
        variables:
        - value_selector:
          - '1766561987023'
          - item
          value_type: object
          variable: obj
      height: 52
      id: '1766562647925'
      parentId: '1766561987023'
      position:
        x: 132.63901582154563
        y: 323.9845346899406
      positionAbsolute:
        x: 2251.24665575562
        y: 3622.1477202947312
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 9c130a4b-df89-43b7-8be2-b05fc4092289
            value: true
            varType: boolean
            variable_selector:
            - '1766562647925'
            - is_chit_chat
          id: 'true'
          logical_operator: and
        - case_id: a38a2071-00d5-41df-a00a-4413ce1c23cf
          conditions:
          - comparison_operator: is
            id: f5c6e871-973f-4982-8bbd-71e33fe16aaa
            value: false
            varType: boolean
            variable_selector:
            - '1766562647925'
            - is_chit_chat
          - comparison_operator: contains
            id: d884e1a9-9486-4a96-a358-71ddac24ab83
            value: vector_recall_only
            varType: string
            variable_selector:
            - '1766562647925'
            - retrieval_mode
          id: a38a2071-00d5-41df-a00a-4413ce1c23cf
          logical_operator: and
        - case_id: aa9d1bd7-bd6b-477d-a5b5-c5d892a58ba2
          conditions:
          - comparison_operator: is
            id: e5935e89-f6e0-45ac-b925-677190d73b0b
            value: false
            varType: boolean
            variable_selector:
            - '1766562647925'
            - is_chit_chat
          - comparison_operator: contains
            id: 9006f5af-d2a8-4e1d-a723-0fe534f2e523
            value: es_recall_only
            varType: string
            variable_selector:
            - '1766562647925'
            - retrieval_mode
          id: aa9d1bd7-bd6b-477d-a5b5-c5d892a58ba2
          logical_operator: and
        desc: 区分闲聊或查知识
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        selected: false
        title: 子意图条件
        type: if-else
      height: 300
      id: '1766573655896'
      parentId: '1766561987023'
      position:
        x: 451.54958297657913
        y: 395.74799155407845
      positionAbsolute:
        x: 2570.1572229106537
        y: 3693.911177158869
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.7
          mode: chat
          name: GLM-4.6V-Flash
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: 7a08c1eb-6ad6-40df-8190-a94f804bfb4f
          role: system
          text: '你是一个专业的搜索查询优化助手。请根据用户输入的问题，理解其核心意图，并提取最适合用于搜索引擎的关键短语。请严格遵守以下规则：


            # 当前用户提问

            {{#1766562647925.query_fragment#}}


            核心规则：

            聚焦于问题的核心主题与查询目标。

            忽略并不得提取任何宽泛词汇，例如：“资料”、“例子”、“技术”、“研究”、“应用”、“案例”、“论文”、“文献”、“方法”、“概述”、“内容”、“进展”、“介绍”、“有哪些”、“如何”等。

            仅保留核心术语、专业名词、关键实体、具体概念等有实质搜索价值的部分，优先使用中文。


            输出格式：

            直接输出关键词序列，关键词或短语之间用单个空格分隔。


            示例：

            输入：“我想找一些深度学习的资料”

            输出：深度学习


            输入：“我想找一些电力行业中深度学习的应用例子”

            输出：电力行业深度 深度学习


            /no_think'
        - id: c4d3d933-414d-4544-8613-441061458299
          role: user
          text: 子意图问题：{{#1766562647925.query_fragment#}}
        selected: false
        title: 子意图关键词提取LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1766574039316'
      parentId: '1766561987023'
      position:
        x: 894.3237983218414
        y: 1430.1641230581567
      positionAbsolute:
        x: 3012.931438255916
        y: 4728.327308662947
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "\nimport re\n\ndef main(arg1: str, arg2: str):\n    # 清洗 arg2：移除 <think>...</think> 标签及其中内容，保留后续文本\n    # 支持跨行、任意空白字符\n    cleaned_arg2 = re.sub(r'<think>.*?</think>\\s*', '', arg2, flags=re.DOTALL).strip()\n    \n    # 构造 API URL\n    api = \"/kbase/aiFileSearch/search\"\n    base = arg1.rstrip('/')\n    url = base + api\n    \n    return {\n        \"url\": url,\n        \"keyword\": cleaned_arg2  # 可选：返回清洗后的关键词，供后续使用\n    }\n"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        outputs:
          keyword:
            children:
            type: string
          url:
            children:
            type: string
        selected: false
        title: ES查询接口配置（子意图）
        type: code
        variables:
        - value_selector:
          - '1765884761572'
          - server_url
          value_type: string
          variable: arg1
        - value_selector:
          - '1766574039316'
          - text
          value_type: string
          variable: arg2
      height: 52
      id: '1766574153128'
      parentId: '1766561987023'
      position:
        x: 1279.5915526657118
        y: 1429.4078420146361
      positionAbsolute:
        x: 3398.1991925997863
        y: 4727.571027619427
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config:
          type: no-auth
        body:
          data:
          - id: key-value-430
            key: ''
            type: text
            value: "{\n  \"fileTypeId\": {{#1768549808142.fileTypeIds#}},\n  \"pageNo\": 1,\n  \"pageSize\": 10,\n  \"searchContent\": {{#1766574153128.keyword#}},\n  \"sort\": \"relevance\",\n  \"isAiAnalysis\": false\n}"
          type: json
        error_strategy: fail-branch
        headers: 'requestHost:{{#1765884761572.server_url#}}

          lang:zh_CN

          accept:application/json, text/plain, */*

          Content-Type:application/json

          grayType:green

          userId:{{#1765884761572.user_id#}}

          applicationid:000001

          appkeylist:APP_PVCLOUD

          token:{{#1765884761572.user_token#}}'
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求（子意图）
        type: http-request
        url: '{{#1766574153128.url#}}'
        variables: []
      height: 161
      id: '1766574275096'
      parentId: '1766561987023'
      position:
        x: 1629.1487775511662
        y: 1430.1418784376629
      positionAbsolute:
        x: 3747.7564174852405
        y: 4728.3050640424535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.7
          mode: chat
          name: GLM-4.6V-Flash
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: 0ce3b0ef-a4a2-4ae4-b9ba-53f4ad87b725
          role: system
          text: "你是一个禾望电气企业知识库智能助手，专注于回答用户的非业务性问候或能力探询。  \n请根据以下**原子化子查询**，生成一句简洁、专业、友好的自然语言回复。\n\n---\n**用户子查询**：{{#1766562647925.query_fragment#}}\n---\n\n### 回复原则\n\n1. **身份清晰**：明确说明你是“禾望电气企业知识库助手”\n2. **能力边界透明**：强调你能帮助查询**技术文档、案例、专利、标准等内部知识**\n3. **引导回业务场景**：鼓励用户提出具体技术或文档需求\n4. **语气友好但不过度拟人**：避免“亲~”“哈哈”等风格，保持工程师沟通调性\n5. **单句输出**：仅返回一句话，无解释、无 markdown、无引号\n\n### 禁止行为\n- ❌ 不要回答天气、讲笑话、闲聊无关话题\n- ❌ 不要承诺无法实现的功能（如“我可以帮你写代码”）\n- ❌ 不要重复用户问题（如“你在问我是谁吗？”）\n\n### 示例输出\n\n✅ 输入：“你好！”  \n→ 您好！我是禾望电气企业知识库助手，可帮您查询技术文档、案例或专利，请问有什么可以协助的？\n\n✅ 输入：“你是谁？”  \n→ 我是禾望电气的企业知识库智能助手，专注于提供内部技术资料与解决方案支持。\n\n✅ 输入：“你能做什么？”  \n→ 我能帮您检索公司内部的论文、专利、经验案例、CBB组件等技术资产，欢迎提出具体需求！\n\n✅ 输入：“在吗？”  \n→ 在的！我是禾望电气知识库助手，请问您需要查询哪方面的技术资料？\n\n---\n\n现在，请针对以下子查询生成回复：\n\n/no_think"
        selected: false
        title: 子意图闲聊LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1766575235291'
      parentId: '1766561987023'
      position:
        x: 898.0812322545819
        y: 94.59378186513459
      positionAbsolute:
        x: 3016.688872188656
        y: 3392.7569674699253
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 6ae22859-697d-45f1-87ad-238b33280c09
            value: CBB
            varType: string
            variable_selector:
            - '1766562647925'
            - primary_kb
          id: 'true'
          logical_operator: and
        - case_id: f10c9497-06e0-4776-87d3-b3e08234df2a
          conditions:
          - comparison_operator: contains
            id: b8944042-8dc7-4c73-adaf-e46616e762f8
            value: 经验案例
            varType: string
            variable_selector:
            - '1766562647925'
            - primary_kb
          id: f10c9497-06e0-4776-87d3-b3e08234df2a
          logical_operator: and
        - case_id: 5da985ae-a65a-41fe-9885-e4fa0e1133e8
          conditions:
          - comparison_operator: contains
            id: 619b49ad-c777-4b9d-941a-11dcbae39efd
            value: 认证标准
            varType: string
            variable_selector:
            - '1766562647925'
            - primary_kb
          id: 5da985ae-a65a-41fe-9885-e4fa0e1133e8
          logical_operator: and
        - case_id: 96e276ed-ca1a-4048-b1ca-8661b04d105c
          conditions:
          - comparison_operator: contains
            id: c42a2e68-32d7-4aee-840d-bfe98cfe54ca
            value: 专利
            varType: string
            variable_selector:
            - '1766562647925'
            - primary_kb
          id: 96e276ed-ca1a-4048-b1ca-8661b04d105c
          logical_operator: and
        - case_id: 44ab93ff-5777-44e7-b01c-dde257ca17ac
          conditions:
          - comparison_operator: contains
            id: cc85b505-4882-43ad-bcce-baf23dec73e7
            value: 学术论文
            varType: string
            variable_selector:
            - '1766562647925'
            - primary_kb
          id: 44ab93ff-5777-44e7-b01c-dde257ca17ac
          logical_operator: and
        - case_id: c038da99-4bad-4fb2-803b-0c36193810da
          conditions:
          - comparison_operator: contains
            id: e456dceb-8d16-4e5a-8671-f054b2da1d05
            value: 专业书籍
            varType: string
            variable_selector:
            - '1766562647925'
            - primary_kb
          id: c038da99-4bad-4fb2-803b-0c36193810da
          logical_operator: and
        - case_id: d249b240-5caf-4bf9-a0be-7f53e1e263d1
          conditions:
          - comparison_operator: contains
            id: 9ebf32f3-49ac-43a8-8182-12c1386a3737
            value: 技术报告
            varType: string
            variable_selector:
            - '1766562647925'
            - primary_kb
          id: d249b240-5caf-4bf9-a0be-7f53e1e263d1
          logical_operator: and
        - case_id: 02425056-54c6-48a6-9964-bd7c22cdf87e
          conditions:
          - comparison_operator: contains
            id: d4b83f17-1276-4aeb-8c3b-d8b060806de1
            value: 培训课程
            varType: string
            variable_selector:
            - '1766562647925'
            - primary_kb
          id: 02425056-54c6-48a6-9964-bd7c22cdf87e
          logical_operator: and
        - case_id: aabf1b1b-a55d-4c02-a95b-9223b0833d4d
          conditions:
          - comparison_operator: contains
            id: 8f8b061c-1da8-4420-b9fd-bebf5075b3d2
            value: 流程规范
            varType: string
            variable_selector:
            - '1766562647925'
            - primary_kb
          id: aabf1b1b-a55d-4c02-a95b-9223b0833d4d
          logical_operator: and
        - case_id: 1e2417c7-55e2-498a-83b8-84feecd6a463
          conditions:
          - comparison_operator: contains
            id: 343f3f53-c406-4cb3-b2cb-e31a5638f869
            value: 部门文档
            varType: string
            variable_selector:
            - '1766562647925'
            - primary_kb
          id: 1e2417c7-55e2-498a-83b8-84feecd6a463
          logical_operator: and
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        selected: false
        title: 条件分支 10
        type: if-else
      height: 556
      id: '1766577034519'
      parentId: '1766561987023'
      position:
        x: 1624.3289278091438
        y: 224.76068778231183
      positionAbsolute:
        x: 3742.9365677432183
        y: 3522.9238733871025
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 64aa55e3-fea8-4efe-8a05-9b82d3759b1d
            value: CBB
            varType: string
            variable_selector:
            - '1766562647925'
            - supporting_kbs
          id: 'true'
          logical_operator: and
        - case_id: 3369b719-7136-46aa-bac3-a1867ee098f3
          conditions:
          - comparison_operator: contains
            id: 88146793-04d8-488e-a2b7-a602cf14a014
            value: 经验案例
            varType: string
            variable_selector:
            - '1766562647925'
            - supporting_kbs
          id: 3369b719-7136-46aa-bac3-a1867ee098f3
          logical_operator: and
        - case_id: 89d448f5-7cb9-45f2-8db8-e680e5407023
          conditions:
          - comparison_operator: contains
            id: ad3f7159-3f42-4b35-b4b8-c7878843e296
            value: 认证标准
            varType: string
            variable_selector:
            - '1766562647925'
            - supporting_kbs
          id: 89d448f5-7cb9-45f2-8db8-e680e5407023
          logical_operator: and
        - case_id: c3d098a6-700e-4aa4-872a-f4928ad702de
          conditions:
          - comparison_operator: contains
            id: 24a1af78-87bd-44d5-8968-e8400b5b37d9
            value: 专利
            varType: string
            variable_selector:
            - '1766562647925'
            - supporting_kbs
          id: c3d098a6-700e-4aa4-872a-f4928ad702de
          logical_operator: and
        - case_id: 134baa61-5ce7-46c3-a82a-acdf0715a48d
          conditions:
          - comparison_operator: contains
            id: 9f8888ae-dc2a-4019-9558-6a6efd4057ca
            value: 学术论文
            varType: string
            variable_selector:
            - '1766562647925'
            - supporting_kbs
          id: 134baa61-5ce7-46c3-a82a-acdf0715a48d
          logical_operator: and
        - case_id: 651f4c79-b15c-4653-8f1a-b0813217c069
          conditions:
          - comparison_operator: contains
            id: a6151a75-6ee8-4197-b4b8-494d5ce21be5
            value: 专业书籍
            varType: string
            variable_selector:
            - '1766562647925'
            - supporting_kbs
          id: 651f4c79-b15c-4653-8f1a-b0813217c069
          logical_operator: and
        - case_id: 297f34cb-ea2f-4164-9ab3-0ec29784e0b7
          conditions:
          - comparison_operator: contains
            id: 5b1f1170-289f-44a5-9729-c0eac244b9e4
            value: 技术报告
            varType: string
            variable_selector:
            - '1766562647925'
            - supporting_kbs
          id: 297f34cb-ea2f-4164-9ab3-0ec29784e0b7
          logical_operator: and
        - case_id: 0e21d9ac-2ea4-48e1-9ea6-ae712b1bb194
          conditions:
          - comparison_operator: contains
            id: 25a889f2-bcb4-470c-94df-087994cd3e7c
            value: 培训课程
            varType: string
            variable_selector:
            - '1766562647925'
            - supporting_kbs
          id: 0e21d9ac-2ea4-48e1-9ea6-ae712b1bb194
          logical_operator: and
        - case_id: 6c90169d-73df-4ab1-a4e0-032676d67d69
          conditions:
          - comparison_operator: contains
            id: d8e362e4-172f-4da0-83f0-adf2e036a918
            value: 流程规范
            varType: string
            variable_selector:
            - '1766562647925'
            - supporting_kbs
          id: 6c90169d-73df-4ab1-a4e0-032676d67d69
          logical_operator: and
        - case_id: 00191547-a955-4095-a66d-cd6b8b81b984
          conditions:
          - comparison_operator: contains
            id: 17b3647a-e8a3-4dd2-906e-6abf43fe5b96
            value: 部门文档
            varType: string
            variable_selector:
            - '1766562647925'
            - supporting_kbs
          id: 00191547-a955-4095-a66d-cd6b8b81b984
          logical_operator: and
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        selected: false
        title: 条件分支 11
        type: if-else
      height: 556
      id: '1766577038031'
      parentId: '1766561987023'
      position:
        x: 1628.561039414491
        y: 833.3592796238981
      positionAbsolute:
        x: 3747.1686793485655
        y: 4131.522465228689
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        dataset_ids:
        - p5RVyTvVcSN7DLel11Zk+wI+DODQc55cbOH2TcprHLC7R4bWAzdZRglYythMIDU3
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766562647925'
        - query_fragment
        retrieval_mode: multiple
        selected: false
        title: 检索CBB
        type: knowledge-retrieval
      height: 90
      id: '1766577855409'
      parentId: '1766561987023'
      position:
        x: 1997.714073999426
        y: 209.09077764298172
      positionAbsolute:
        x: 4116.321713933501
        y: 3507.2539632477724
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        dataset_ids:
        - n10xEIb1ZzsC1t5PZBZNInV6mAcgZFioX8ecBRjuIimKYa4ZpGZHVsYlkacWBLJP
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766562647925'
        - query_fragment
        retrieval_mode: multiple
        selected: false
        title: 检索认证标准
        type: knowledge-retrieval
      height: 90
      id: '1766577869464'
      parentId: '1766561987023'
      position:
        x: 2002.9373773792026
        y: 348.84160918756425
      positionAbsolute:
        x: 4121.545017313278
        y: 3647.004794792355
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        dataset_ids:
        - AjTzJs0t3iUB9puhqqe5xMjX1gKuqirsoqAfE0vYz8GcCK6I/ARlBREoTTyipdAe
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766562647925'
        - query_fragment
        retrieval_mode: multiple
        selected: false
        title: 检索专利
        type: knowledge-retrieval
      height: 90
      id: '1766577872406'
      parentId: '1766561987023'
      position:
        x: 2002.9373773792022
        y: 464.9177492960316
      positionAbsolute:
        x: 4121.545017313277
        y: 3763.0809349008223
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        dataset_ids:
        - NdHmYq2ivGADC6ALb2HPHdqHssfEkVKmM7P91bRJJHy4xPcYxTCp0MOlM26Rl7Om
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766562647925'
        - query_fragment
        retrieval_mode: multiple
        selected: false
        title: 检索学术论文
        type: knowledge-retrieval
      height: 90
      id: '1766577875327'
      parentId: '1766561987023'
      position:
        x: 2003.4936729626052
        y: 588.370160741496
      positionAbsolute:
        x: 4122.10131289668
        y: 3886.5333463462866
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        dataset_ids:
        - p5RVyTvVcSN7DLel11Zk+wI+DODQc55cbOH2TcprHLC7R4bWAzdZRglYythMIDU3
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766562647925'
        - query_fragment
        retrieval_mode: multiple
        selected: false
        title: 检索CBB
        type: knowledge-retrieval
      height: 90
      id: '1766578524013'
      parentId: '1766561987023'
      position:
        x: 1999.811720462351
        y: 818.1016464833447
      positionAbsolute:
        x: 4118.419360396426
        y: 4116.264832088135
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        dataset_ids:
        - n10xEIb1ZzsC1t5PZBZNInV6mAcgZFioX8ecBRjuIimKYa4ZpGZHVsYlkacWBLJP
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766562647925'
        - query_fragment
        retrieval_mode: multiple
        selected: false
        title: '检索认证标准 '
        type: knowledge-retrieval
      height: 90
      id: '1766578619878'
      parentId: '1766561987023'
      position:
        x: 2000.9965260055412
        y: 932.3644710888325
      positionAbsolute:
        x: 4119.604165939616
        y: 4230.527656693623
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        dataset_ids:
        - AjTzJs0t3iUB9puhqqe5xMjX1gKuqirsoqAfE0vYz8GcCK6I/ARlBREoTTyipdAe
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766562647925'
        - query_fragment
        retrieval_mode: multiple
        selected: false
        title: 检索专利
        type: knowledge-retrieval
      height: 90
      id: '1766578628823'
      parentId: '1766561987023'
      position:
        x: 1999.8117204623516
        y: 1061.2004373893978
      positionAbsolute:
        x: 4118.419360396426
        y: 4359.3636229941885
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        dataset_ids:
        - NdHmYq2ivGADC6ALb2HPHdqHssfEkVKmM7P91bRJJHy4xPcYxTCp0MOlM26Rl7Om
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766562647925'
        - query_fragment
        retrieval_mode: multiple
        selected: false
        title: 检索学术论文
        type: knowledge-retrieval
      height: 90
      id: '1766578632881'
      parentId: '1766561987023'
      position:
        x: 1995.216927042363
        y: 1189.3943409317221
      positionAbsolute:
        x: 4113.824566976437
        y: 4487.557526536513
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        output_type: array[object]
        selected: false
        title: 变量聚合器
        type: variable-aggregator
        variables:
        - - '1766577855409'
          - result
        - - '1766577869464'
          - result
        - - '1766577872406'
          - result
        - - '1766577875327'
          - result
        - - '1774443569048'
          - result
      height: 213
      id: '1766578830262'
      parentId: '1766561987023'
      position:
        x: 2386.5384611080804
        y: 358.72577171954117
      positionAbsolute:
        x: 4505.146101042155
        y: 3656.888957324332
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(arg1: list, arg2: list):\n    # 如果传入的是 None，就替换成空列表\n    if arg1 is None:\n        arg1 = []\n    if arg2 is None:\n        arg2 = []\n    \n    merged_output = arg1 + arg2\n    \n    return {\n        \"output\": merged_output, \n        \"primary_output\": json.dumps(arg1, ensure_ascii=False),\n        \"supporting_output\": json.dumps(arg2, ensure_ascii=False)\n    }"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        outputs:
          output:
            children:
            type: array[object]
          primary_output:
            children:
            type: string
          supporting_output:
            children:
            type: string
        selected: false
        title: 主辅查询结果合并
        type: code
        variables:
        - value_selector:
          - '1766578830262'
          - output
          value_type: array[object]
          variable: arg1
        - value_selector:
          - '1774444275382'
          - output
          value_type: array[object]
          variable: arg2
      height: 52
      id: '1766579029694'
      parentId: '1766561987023'
      position:
        x: 2679.097785706693
        y: 656.1526584446883
      positionAbsolute:
        x: 4797.705425640767
        y: 3954.315844049479
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "def main(arg1: str):\n    return {\n        \"result\": arg1\n    }\n"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        outputs:
          result:
            children:
            type: string
        selected: false
        title: 取出闲聊答案参数
        type: code
        variables:
        - value_selector:
          - '1766575235291'
          - text
          value_type: string
          variable: arg1
      height: 52
      id: '1766581831340'
      parentId: '1766561987023'
      position:
        x: 1200.081232254582
        y: 94.59378186513459
      positionAbsolute:
        x: 3318.688872188656
        y: 3392.7569674699253
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(arg1: str):\n    try:\n        # 只需一次解析：arg1 是完整 JSON 字符串\n        data = json.loads(arg1)\n        \n        # 直接从顶层取 records\n        records = (\n            data\n            .get(\"result\", {})\n            .get(\"searchFileDataPage\", {})\n            .get(\"records\", [])\n        )\n    except (json.JSONDecodeError, TypeError, AttributeError):\n        records = []\n    \n    return {\n        \"result\": json.dumps(records, ensure_ascii=False)\n    }"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        outputs:
          result:
            children:
            type: string
        selected: false
        title: 取出请求结果
        type: code
        variables:
        - value_selector:
          - '1766574275096'
          - body
          value_type: string
          variable: arg1
      height: 52
      id: '1766582350681'
      parentId: '1766561987023'
      position:
        x: 1931.1487775511662
        y: 1430.1418784376629
      positionAbsolute:
        x: 4049.7564174852405
        y: 4728.3050640424535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "\ndef main() -> dict:\n    return {\n        \"result\": \"ERROR_NO_RESULT\",\n    }\n"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        outputs:
          result:
            children:
            type: string
        selected: false
        title: 异常处理
        type: code
        variables: []
      height: 52
      id: '1766583739687'
      parentId: '1766561987023'
      position:
        x: 1931.1487775511662
        y: 1539.1418784376629
      positionAbsolute:
        x: 4049.7564174852405
        y: 4837.3050640424535
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "def main(arg1: list, arg2: list):\n    # 处理 arg1：只保留非 None 的字符串\n    filtered_arg1 = [item for item in arg1 if item is not None]\n    result_str = \"\\n\".join(filtered_arg1)\n\n    # 处理 arg2\n    lines = []\n    for obj in arg2:\n        if isinstance(obj, dict):\n            obj_lines = [f\"{k}: {v}\" for k, v in obj.items()]\n            lines.append(\"\\n\".join(obj_lines))\n        else:\n            lines.append(str(obj))\n    \n    sub_intents = \"\\n\\n\".join(lines)\n\n    return {\n        \"result\": result_str,\n        \"sub_intents\": sub_intents\n    }"
        code_language: python3
        outputs:
          result:
            children:
            type: string
          sub_intents:
            children:
            type: string
        selected: false
        title: 取出多意图处理结果（数组）
        type: code
        variables:
        - value_selector:
          - '1766561987023'
          - output
          value_type: array[string]
          variable: arg1
        - value_selector:
          - '1766046797761'
          - sub_intents
          value_type: array[object]
          variable: arg2
      height: 52
      id: '1766583988064'
      position:
        x: 5353.965025153568
        y: 2385.0457488144516
      positionAbsolute:
        x: 5353.965025153568
        y: 2385.0457488144516
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        output_type: string
        selected: false
        title: 聚合输出
        type: variable-aggregator
        variables:
        - - '1766581831340'
          - result
        - - '1766663294206'
          - result
        - - '1766582350681'
          - result
        - - '1766583739687'
          - result
      height: 187
      id: '1766632716395'
      parentId: '1766561987023'
      position:
        x: 3752.3293896869745
        y: 96.15441472696557
      positionAbsolute:
        x: 5870.937029621049
        y: 3394.3176003317562
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}

            '
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.7
          mode: chat
          name: chatgpt-oss-120b
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: fee94bdd-13ce-47a2-9e54-c201e6426365
          role: system
          text: '# 角色


            你是禾望电气智能汇总助手，负责将多个子意图分支的回答整合成结构清晰、信息完整的最终答案，严格基于提供的子分支资料，不得自行添加任何外部信息、模型内容或主观推断。


            ---


            # 核心规则


            ## 1. 语言一致性


            * 判断用户原始输入语言，并全篇使用该语言。

            * 避免中英文混合或默认中文。


            ## 2. 闲聊内容处理


            * 子分支中若为问候、寒暄或非任务型对话，**原样放在最开头**。

            * 闲聊后空一行。


            ## 3. 图片处理


            * 忽略子分支原始图号，按最终回答中首次出现顺序从 1 开始重新编号。

            * 中文输出：图1、图2……；英文输出：Figure 1, Figure 2……

            * 图片显示格式：


            ```html

            <div align="center">

            <img src="图片URL" alt="image" /><br>

            图1. 图片说明文字（若无则仅写“图1.”）

            </div>

            ```


            * 保持 URL 不变，图注必须存在。


            ## 4. 文件/文档列表处理


            * 判断规则：≥2 个条目，带标题 + URL 或 [下载] 标记，或列表形式。

            * 若存在文档列表：


            * 独立逻辑块，生成自然小标题（如“参考资料”）。

            * 简述文档主题或用途。

            * 保留原始条目标题，URL用[下载]替换：


            * `[文档标题] - [下载](原始URL)`

            * 列表格式清晰，使用“-”或“•”。

            * 若未找到文档列表：


            * 输出自然提示，如：“未找到相关文档列表”或“当前查询无文件存档”。


            ## 5. 内容整合


            * 非闲聊、非文档列表、非图片说明内容：


            * 严格按照子意图顺序生成答案块，不允许跨块引用其他子意图内容。

            * 每个逻辑块加简明标题（4–8字中文或2–5词英文）。

            * 保留原始公式、表达和关键数据。

            * 不增加任何子分支未提供的信息。

            * 可在逻辑上必要时进行标题划分或语义聚合，但不得删减或精简信息。


            ## 6. 风险提示


            * 仅在“操作类问题”且资料明确提示风险时出现：


            * 中文："⚠️ 操作前请确认您已充分了解其影响，建议在测试环境验证。"

            * 英文："⚠️ Please ensure you fully understand the impact before proceeding."

            * FAQ/信息查询类问题不输出风险提示。

            * 不得自行推断或添加通用风险信息。


            ## 7. 多轮对话处理


            * 上下文继承仅限用户已明确提供的信息。

            * 指代（“它/该设备/这个”）需明确，否则按“无匹配问题”处理。

            * 当前问题与历史冲突时，以当前问题 + 当前资料为准。


            ## 8. 输出要求


            * 每个逻辑块以**加粗标题**开头。

            * 块与块之间空行。

            * 避免“综上所述”“接下来是”等冗余词。

            * 标题长度：中文 4–8 字，英文 2–5 个词。

            * 全文专业、流畅、易读。

            * 图片编号连续、文档列表清晰、公式保留。


            ## 注意事项

            * 严格基于子分支资料，不做主观臆想、推断、幻想或扩展。

            * 尽量完整保留原文重点信息，减少无关删减。

            * 输出结果应清晰、逻辑分明，便于直接使用。


            ---


            # 用户意图


            {{#1766583988064.sub_intents#}}


            # 子意图分支回答


            {{#1766583988064.result#}}


            ---


            请严格按照以上规则整合子意图分支回答，生成**最终汇总答案**，不得使用模型自身知识或补充资料外信息。'
        selected: false
        title: 总结LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1766643827180'
      position:
        x: 5703.48795053393
        y: 2385.0457488144516
      positionAbsolute:
        x: 5703.48795053393
        y: 2385.0457488144516
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1766643827180.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1766643838228'
      position:
        x: 6063.575896039393
        y: 2385.0457488144516
      positionAbsolute:
        x: 6063.575896039393
        y: 2385.0457488144516
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1766579029694'
          - output
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.7
          mode: chat
          name: GLM-4.6V-Flash
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: 42743737-1ee8-430e-b7c4-7eafc9c7b4aa
          role: system
          text: "## ❗ 提取核心内容规则\n你负责从知识库召回的内容中提取**支持用户查询的核心信息**，禁止使用模型自身通用知识或推理。  \n\n### 输入\n- 用户问题片段：{{#1766562647925.query_fragment#}}\n- 主资料：{{#1766579029694.primary_output#}}\n- 辅资料：{{#1766579029694.supporting_output#}}\n\n### 目标\n- 保留**关键事实、参数、步骤、结论**  \n- **完整保留所有图片、公式、表格、代码**（原格式）  \n- 删除冗余内容  \n- 如果有图片，**优先保留图片**  \n- 输出**控制在1200字内**  \n- 不添加任何模型自己的解释或扩展内容  \n\n### 输出格式"
        - id: 9fff42e7-90b0-4dac-99f6-23b93dd854df
          role: user
          text: ''
        selected: false
        title: 召回片段提炼LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1766661968545'
      parentId: '1766561987023'
      position:
        x: 2931.02659471943
        y: 304.1526584446883
      positionAbsolute:
        x: 5049.634234653504
        y: 3602.315844049479
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "def main(arg1: str):\n    end_tag = \"</think>\"\n    idx = arg1.find(end_tag)\n    \n    if idx == -1:\n        # 没有找到结束标签，返回整个字符串\n        extracted = arg1\n    else:\n        # 找到结束标签，提取后面的内容\n        extracted = arg1[idx + len(end_tag):]\n    \n    return {\n        \"result\": extracted\n    }"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        outputs:
          result:
            children:
            type: string
        selected: false
        title: 取出提炼内容
        type: code
        variables:
        - value_selector:
          - '1766661968545'
          - text
          value_type: string
          variable: arg1
      height: 52
      id: '1766663294206'
      parentId: '1766561987023'
      position:
        x: 3183.0265947194307
        y: 134.15265844468877
      positionAbsolute:
        x: 5301.634234653506
        y: 3432.3158440494794
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(selected_knowledge_bases: str, kb_mapping: str):\n    # 解析 kb_mapping JSON 字符串为 list\n    try:\n        kb_mapping_list = json.loads(kb_mapping)\n    except json.JSONDecodeError as e:\n        raise ValueError(\"kb_mapping is not a valid JSON string\") from e\n\n    # 将输入字符串按逗号分割成 ID 列表，并去除空格\n    selected_ids = set(kb.strip() for kb in selected_knowledge_bases.split(',') if kb.strip())\n\n    # 构建 ID 到 (value, label) 的映射字典\n    kb_dict = {item['id']: (item['value'], item['label']) for item in kb_mapping_list}\n\n    fileTypeIds = []  # 实际上是选中的 knowledge base IDs\n    kbIds = []        # 对应的 value\n    kbNames = []      # 对应的 label\n\n    for kb_id in selected_ids:\n        if kb_id in kb_dict:\n            value, label = kb_dict[kb_id]  # ← 只有两个值！\n            fileTypeIds.append(kb_id)      # ← ID 就是 kb_id（字典的 key）\n            kbIds.append(value)\n            kbNames.append(label)\n        else:\n            print(f\"Warning: Knowledge base ID {kb_id} not found in mapping.\")\n\n    return {\n        \"fileTypeIds\": fileTypeIds,\n        \"kbIds\": kbIds,\n        \"kbNames\": kbNames\n    }"
        code_language: python3
        outputs:
          fileTypeIds:
            children:
            type: array[string]
          kbIds:
            children:
            type: array[string]
          kbNames:
            children:
            type: array[string]
        selected: false
        title: 选择的知识库解析
        type: code
        variables:
        - value_selector:
          - '1765884761572'
          - selected_knowledge_bases
          value_type: string
          variable: selected_knowledge_bases
        - value_selector:
          - '1765884761572'
          - kb_mapping
          value_type: string
          variable: kb_mapping
      height: 52
      id: '1768549808142'
      position:
        x: -892.150228572997
        y: 952.3307864769668
      positionAbsolute:
        x: -892.150228572997
        y: 952.3307864769668
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\ndef main(arg1: str):\n    \"\"\"\n    解析输入的字符串数组，返回两个单独的知识库参数\n    \n    Args:\n        arg1: 字符串格式的数组，如 \"[\\\"学术论文知识库\\\", \\\"技术报告知识库\\\"]\"\n    \n    Returns:\n        包含两个解析后参数的字典\n    \"\"\"\n    import json\n    \n    # 初始化返回结果\n    result = {\n        \"supporting_kb1\": \"\",\n        \"supporting_kb2\": \"\"  \n    }\n    \n    try:\n        # 如果输入为空或None，直接返回空结果\n        if not arg1:\n            return result\n        \n        # 解析JSON字符串\n        knowledge_bases = json.loads(arg1)\n        \n        # 确保解析结果是列表类型\n        if not isinstance(knowledge_bases, list):\n            return result\n        \n        # 根据列表长度赋值\n        if len(knowledge_bases) >= 1:\n            result[\"supporting_kb1\"] = knowledge_bases[0]\n        \n        if len(knowledge_bases) >= 2:\n            result[\"supporting_kb2\"] = knowledge_bases[1]\n            \n    except json.JSONDecodeError:\n        # JSON解析失败时的处理\n        print(f\"JSON解析失败: {arg1}\")\n    except Exception as e:\n        # 其他异常处理\n        print(f\"处理出错: {str(e)}\")\n    \n    return result\n"
        code_language: python3
        outputs:
          supporting_kb1:
            children:
            type: string
          supporting_kb2:
            children:
            type: string
        selected: false
        title: 辅库数组拆分
        type: code
        variables:
        - value_selector:
          - '1766046797761'
          - supporting_kbs
          value_type: string
          variable: arg1
      height: 52
      id: '1772708654860'
      position:
        x: 2005.5301596696636
        y: 588.0828478209576
      positionAbsolute:
        x: 2005.5301596696636
        y: 588.0828478209576
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: df702803-375e-4f4c-be96-f2c18438d8d2
            value: CBB
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb2
          id: 'true'
          logical_operator: and
        - case_id: 7d50f4d4-dc4a-40f6-803d-73b8a14c17b4
          conditions:
          - comparison_operator: contains
            id: 6e7e480a-5ab8-43c4-81b1-6ce70bde41ed
            value: 经验案例
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb2
          id: 7d50f4d4-dc4a-40f6-803d-73b8a14c17b4
          logical_operator: and
        - case_id: 8f584f08-c660-446b-9251-54cb394fc97b
          conditions:
          - comparison_operator: contains
            id: c0c9d6d3-d0fd-4fbc-b96c-d402300b4a65
            value: 认证标准
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb2
          id: 8f584f08-c660-446b-9251-54cb394fc97b
          logical_operator: and
        - case_id: 53b9c5eb-341c-4327-ab6c-27a853708ab1
          conditions:
          - comparison_operator: contains
            id: e74f9206-6a13-4569-8592-0f8be975db63
            value: 专利
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb2
          id: 53b9c5eb-341c-4327-ab6c-27a853708ab1
          logical_operator: and
        - case_id: 6c827d63-db16-4430-84f7-6147a151af5d
          conditions:
          - comparison_operator: contains
            id: 796f9d1f-7f43-40ae-a144-46ee5322c1b5
            value: 学术论文
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb2
          id: 6c827d63-db16-4430-84f7-6147a151af5d
          logical_operator: and
        - case_id: ac4fad4c-6aed-44e4-b186-f2a9ad16851d
          conditions:
          - comparison_operator: contains
            id: eb89a8f6-3fcc-4a87-9ed7-127f3b29fd96
            value: 专业书籍
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb2
          id: ac4fad4c-6aed-44e4-b186-f2a9ad16851d
          logical_operator: and
        - case_id: 73700a06-95a3-4197-bc00-90142042b857
          conditions:
          - comparison_operator: contains
            id: 17e758cb-ad43-4c2a-9d4c-1d710d61176f
            value: 技术报告
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb2
          id: 73700a06-95a3-4197-bc00-90142042b857
          logical_operator: and
        - case_id: 961c1951-c8ce-4195-b4b4-0926a125416a
          conditions:
          - comparison_operator: contains
            id: d0fb73a2-c6ef-4c60-a163-70f029897dea
            value: 培训课程
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb2
          id: 961c1951-c8ce-4195-b4b4-0926a125416a
          logical_operator: and
        - case_id: 93b36b41-4a87-4032-907c-7ddef1fff3eb
          conditions:
          - comparison_operator: contains
            id: dfbbd7b8-a210-43c5-b5bf-68ddc2e79299
            value: 流程规范
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb2
          id: 93b36b41-4a87-4032-907c-7ddef1fff3eb
          logical_operator: and
        - case_id: d5753383-341e-4549-a4ee-6abb52f274e6
          conditions:
          - comparison_operator: contains
            id: 70209328-68fc-412d-9f6c-67b4612561bf
            value: 部门文档
            varType: string
            variable_selector:
            - '1772708654860'
            - supporting_kb2
          id: d5753383-341e-4549-a4ee-6abb52f274e6
          logical_operator: and
        desc: 辅库，可以有多个，所以会并行执行
        selected: false
        title: 辅库执行条件判断 (1)
        type: if-else
      height: 584
      id: '17727142590310'
      position:
        x: 2817.117774832373
        y: 1156.2406716233752
      positionAbsolute:
        x: 2817.117774832373
        y: 1156.2406716233752
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - p5RVyTvVcSN7DLel11Zk+wI+DODQc55cbOH2TcprHLC7R4bWAzdZRglYythMIDU3
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索CBB （辅库） (1)
        type: knowledge-retrieval
      height: 90
      id: '17727146279350'
      position:
        x: 3236.8533934897478
        y: 1197.999971804635
      positionAbsolute:
        x: 3236.8533934897478
        y: 1197.999971804635
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - n10xEIb1ZzsC1t5PZBZNInV6mAcgZFioX8ecBRjuIimKYa4ZpGZHVsYlkacWBLJP
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索认证标准 (辅库) (1)
        type: knowledge-retrieval
      height: 90
      id: '17727146380080'
      position:
        x: 3243.503296881612
        y: 1324.3481362500568
      positionAbsolute:
        x: 3243.503296881612
        y: 1324.3481362500568
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - AjTzJs0t3iUB9puhqqe5xMjX1gKuqirsoqAfE0vYz8GcCK6I/ARlBREoTTyipdAe
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索专利 (辅库) (1)
        type: knowledge-retrieval
      height: 90
      id: '17727146461830'
      position:
        x: 3236.8533934897478
        y: 1449.0338248475123
      positionAbsolute:
        x: 3236.8533934897478
        y: 1449.0338248475123
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - NdHmYq2ivGADC6ALb2HPHdqHssfEkVKmM7P91bRJJHy4xPcYxTCp0MOlM26Rl7Om
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索学术论文 (辅库) (1)
        type: knowledge-retrieval
      height: 90
      id: '17727146729190'
      position:
        x: 3236.8533934897478
        y: 1564.311629159486
      positionAbsolute:
        x: 3236.8533934897478
        y: 1564.311629159486
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        advanced_settings:
          group_enabled: false
          groups:
          - groupId: c2659459-f8fe-4f8f-9579-27edbebae8e8
            group_name: PrimaryGroup
            output_type: array[object]
            variables:
            - - '1766111137253'
              - result
            - - '17661111542640'
              - result
            - - '17661111557560'
              - result
            - - '17661111554310'
              - result
          - groupId: 1eb500ad-72d6-404d-bc6a-695fb965deff
            group_name: SupportGroup
            output_type: array[object]
            variables:
            - - '17663008066090'
              - result
            - - '17663008166570'
              - result
            - - '17663008113020'
              - result
            - - '17663008214150'
              - result
        output_type: array[object]
        selected: false
        title: 变量聚合器 (辅库2)
        type: variable-aggregator
        variables:
        - - '17727146380080'
          - result
        - - '17727146729190'
          - result
        - - '17727146461830'
          - result
        - - '17727146279350'
          - result
        - - '17744371388840'
          - result
      height: 213
      id: '17727148206320'
      position:
        x: 3766.073766333944
        y: 1333.0812662721694
      positionAbsolute:
        x: 3766.073766333944
        y: 1333.0812662721694
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - xSgfGK4CPkOXMUXT3WwVdsQAUcfjgBqVm5SFzyOyZspf8qYOAR5qlQs0uKg5gajO
        metadata_filtering_conditions:
          conditions: []
          logical_operator: or
        metadata_filtering_mode: manual
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索流程规范
        type: knowledge-retrieval
      height: 90
      id: '17744369112980'
      position:
        x: 3270.716817893455
        y: 373.8903774050753
      positionAbsolute:
        x: 3270.716817893455
        y: 373.8903774050753
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - xSgfGK4CPkOXMUXT3WwVdsQAUcfjgBqVm5SFzyOyZspf8qYOAR5qlQs0uKg5gajO
        metadata_filtering_conditions:
          conditions: []
          logical_operator: or
        metadata_filtering_mode: manual
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索流程规范（辅库）
        type: knowledge-retrieval
      height: 90
      id: '17744371101860'
      position:
        x: 3236.8533934897478
        y: 1021.1816796426544
      positionAbsolute:
        x: 3236.8533934897478
        y: 1021.1816796426544
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - xSgfGK4CPkOXMUXT3WwVdsQAUcfjgBqVm5SFzyOyZspf8qYOAR5qlQs0uKg5gajO
        metadata_filtering_conditions:
          conditions: []
          logical_operator: or
        metadata_filtering_mode: manual
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766900000002'
        - optimized_query
        retrieval_mode: multiple
        selected: false
        title: 检索流程规范（辅库） (1)
        type: knowledge-retrieval
      height: 90
      id: '17744371388840'
      position:
        x: 3236.8533934897478
        y: 1698.196511402685
      positionAbsolute:
        x: 3236.8533934897478
        y: 1698.196511402685
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: <span></span>
        selected: false
        title: 直接回复 9
        type: answer
        variables: []
      height: 100
      id: '1774441797704'
      position:
        x: -579.5709771492527
        y: 952.3307864769668
      positionAbsolute:
        x: -579.5709771492527
        y: 952.3307864769668
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - xSgfGK4CPkOXMUXT3WwVdsQAUcfjgBqVm5SFzyOyZspf8qYOAR5qlQs0uKg5gajO
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766562647925'
        - query_fragment
        retrieval_mode: multiple
        selected: false
        title: 检索流程规范
        type: knowledge-retrieval
      height: 90
      id: '1774443569048'
      parentId: '1766561987023'
      position:
        x: 2002.1943340200637
        y: 703.077432373535
      positionAbsolute:
        x: 4120.801973954138
        y: 4001.2406179783256
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        dataset_ids:
        - xSgfGK4CPkOXMUXT3WwVdsQAUcfjgBqVm5SFzyOyZspf8qYOAR5qlQs0uKg5gajO
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.7
          top_k: 3
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: Qwen-Embedding
              embedding_provider_name: langgenius/openai_api_compatible/openai_api_compatible
              vector_weight: 0.7
            weight_type: customized
        query_attachment_selector: []
        query_variable_selector:
        - '1766562647925'
        - query_fragment
        retrieval_mode: multiple
        selected: false
        title: 知识检索 25
        type: knowledge-retrieval
      height: 90
      id: '1774443676629'
      parentId: '1766561987023'
      position:
        x: 1995.216927042363
        y: 1318.3943409317221
      positionAbsolute:
        x: 4113.824566976437
        y: 4616.557526536513
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1766561987023'
        output_type: array[object]
        selected: false
        title: 变量聚合器辅库
        type: variable-aggregator
        variables:
        - - '1766578619878'
          - result
        - - '1766578628823'
          - result
        - - '1766578524013'
          - result
        - - '1774443676629'
          - result
        - - '1766578632881'
          - result
      height: 213
      id: '1774444275382'
      parentId: '1766561987023'
      position:
        x: 2387.773806676334
        y: 855.7821114685921
      positionAbsolute:
        x: 4506.381446610409
        y: 4153.945297073383
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            enable_thinking: false
            temperature: 0.1
          mode: chat
          name: GLM-4-Flash
          provider: yangyaofei/vllm/vllm
        prompt_template:
        - id: a1b2c3d4-query-opt-system-prompt
          role: system
          text: "# 角色\n你是禾望电气工业检索优化专家，负责把用户问题转换为\"可检索的高质量 Query\"。\n\n# 输入\n- resolved_query: {{#1766046797761.resolved_query#}}\n- retrieval_mode: {{#1766046797761.retrieval_mode#}}\n- intent_type: {{#1766046797761.intent_type#}}\n\n# 任务\n请输出一个 JSON，包含 exact_terms、core_terms、synonyms、search_keywords、hybrid_query。\n\n# 处理规则\n1) 必须提取并保留精确标识：型号、故障码、专有缩写（如 PCS-1000K、E05、SOC、MPPT）。\n2) core_terms 保留业务核心名词，删除疑问词/语气词/冗余动词。\n3) synonyms 最多补充 1-2 个专业近义词，禁止发散联想。\n4) search_keywords 用于 ES 精确检索，使用空格分隔，不加解释。\n5) hybrid_query 用于 hybrid/multiple 检索，必须同时保留语义句与精确词。\n6) 若 intent_type 不是 knowledge_query 或 multi_intent，字段可返回空字符串，但 JSON 结构必须完整。\n\n# 输出约束\n- 仅输出合法 JSON\n- 不输出任何额外说明文字"
        selected: false
        title: Query优化LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1766900000001'
      position:
        x: 963.0
        y: 588.0
      positionAbsolute:
        x: 963.0
        y: 588.0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(llm_text: str, resolved_query: str, retrieval_mode: str) -> dict:\n    \"\"\"\n    Parse Query Optimization LLM output.\n    Depending on retrieval_mode, pick the best query for downstream retrieval.\n    \"\"\"\n    optimized_query = resolved_query\n    search_keywords = \"\"\n\n    try:\n        json_match = re.search(r'\\{[^{}]*\\}', llm_text, re.DOTALL)\n        if json_match:\n            parsed = json.loads(json_match.group())\n            exact_terms = parsed.get(\"exact_terms\", \"\")\n            core_terms = parsed.get(\"core_terms\", \"\")\n            synonyms = parsed.get(\"synonyms\", \"\")\n            search_keywords = parsed.get(\"search_keywords\", \"\")\n            hybrid_query = parsed.get(\"hybrid_query\", \"\")\n\n            if \"es_recall_only\" in retrieval_mode:\n                optimized_query = search_keywords if search_keywords else resolved_query\n            elif \"vector_recall_only\" in retrieval_mode:\n                if hybrid_query:\n                    optimized_query = hybrid_query\n                else:\n                    optimized_query = resolved_query\n            else:\n                if hybrid_query:\n                    optimized_query = hybrid_query\n                elif search_keywords:\n                    optimized_query = resolved_query + \" \" + search_keywords\n                else:\n                    optimized_query = resolved_query\n    except Exception:\n        optimized_query = resolved_query\n\n    return {\n        \"optimized_query\": optimized_query,\n        \"search_keywords\": search_keywords\n    }\n"
        code_language: python3
        error_strategy: fail-branch
        outputs:
          optimized_query:
            children:
            type: string
          search_keywords:
            children:
            type: string
        selected: false
        title: Query优化结果解析
        type: code
        variables:
        - value_selector:
          - '1766900000001'
          - text
          value_type: string
          variable: llm_text
        - value_selector:
          - '1766046797761'
          - resolved_query
          value_type: string
          variable: resolved_query
        - value_selector:
          - '1766046797761'
          - retrieval_mode
          value_type: string
          variable: retrieval_mode
      height: 296
      id: '1766900000002'
      position:
        x: 963.0
        y: 720.0
      positionAbsolute:
        x: 963.0
        y: 720.0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 130.62885068578362
      y: -212.02275907819705
      zoom: 0.5743491774985178
  rag_pipeline_variables: []
